* {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}


/*NAVBAR*/

.nav-link {
    margin-right: 20px;
    color: #000000;
}

a {
    color: #000000;
}

a:focus {
    font-weight: bold;
}

#tupcnav {
    width: 100%;
    height: 60px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding-left: 5%;
    padding-right: 5%;
    position: sticky;
}

#tupcnav img {
    margin-right: 15px;
}

#tupcnav img:hover {
    margin-right: 15px;
}

#tupcnav .navbar-brand {
    font-weight: bold;
    font-size: 12px;
    color: black;
}

#logoutbutton {
    background-color: #000000;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
}

#logoutbutton:hover {
    border: 1px solid #000000;
    color: #319AE4;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    background-color: white;
}

#adding,
#dropping,
#transferring,
#slots {
    font-weight: bold;
}


/* body */

body {
    height: 100vh;
    background-color: #ECECEC;
}

.bg-container {
    width: 100%;
    height: 100%;
    background-image: url(../images/ECEDF1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2% 20% 2% 20%;
}

.welcome {
    display: flex;
    justify-content: flex-start;
    background-color: #000000;
    color: white;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
}

.content {
    width: 100%;
    display: grid;
    background-color: white;
    margin-top: 2%;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
}

.stud-request-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.stud-request-label p {
    width: 50%;
    height: 100%;
    font-weight: bold;
}

.stud-request-label button {
    background-color: black;
    border: 1px solid black;
}

.stud-request-label input {
    border: 1px solid black;
}

.sched-icon {
    padding: 5px;
    border: none;
    background-color: transparent;
    width: 10px;
}

.image-icon {
    width: 80px;
    height: 80px;
}

.modal-dialog {
    width: 100%;
    min-width: 1000px;
    margin-top: 5%;
}

.action {
    display: flex;
    justify-content: center;
}

.action i {
    font-size: 20px;
}

@media only screen and (max-width: 1000px) {
    .bg-container {
        padding: 2% 5% 2% 5%;
    }
}

@media only screen and (min-width:1000px) {
    #navbarToggleExternalContent {
        display: flex;
        justify-content: flex-end;
    }
}