* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #ECECEC;
}

.bg-container {
    width: 100%;
    height: 100%;
    background-image: url(../images/ECECEC.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5% 40% 10% 10%;
}


/*form*/

form {
    /*border: solid 1px black;*/
    width: 100%;
    display: grid;
    text-align: center;
}


/*TUPC LOGO*/

form img.mb4 {
    justify-self: center;
    margin-bottom: 5px;
}

.tup-label {
    width: 100%;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
}

.assist-label {
    width: 100%;
    font-weight: bold;
    font-size: 26px;
    color: #C51F3A;
    margin-bottom: 2px;
}

.adt-label {
    width: 100%;
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 8%;
}


/*email at password*/

.form-control {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    height: 50px;
    border: 1px solid #CED4DA;
    font-weight: 300;
    font-size: 20px;
    border-radius: 10px;
}

.form-control:focus {
    box-shadow: none;
}

.inputs {
    display: grid;
    row-gap: 10px;
}


/*button*/

input.login {
    width: 100%;
    height: 45px;
    background: #C51F3A;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}


/*hover ng button */

.login:hover {
    background-color: #9b0511;
}

.login:focus {
    background: #E2435E;
}

input.login-google {
    width: 100%;
    height: 45px;
    border: solid 1px #C51F3A;
    color: #000000;
    cursor: pointer;
    font-size: 23px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 40px;
    border-radius: 5px;
    margin-top: 20px;
}


/*Don't have an account? SIGN UP here.*/

h2.signup-label {
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    color: #000000;
}


/*sigunp label yung red sa baba*/

a.signup-label {
    color: #E2435E;
    text-decoration: none;
    font-weight: normal;
    font-size: 20px;
}