* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #ECECEC;
}

.bg-container {
    width: 100%;
    height: 100%;
    background-image: url(../images/ECECEC.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10% 40% 10% 10%;
}


/*form*/

form {
    border: solid 1px black;
    width: 100%;
    display: grid;
    text-align: center;
}


/*TUPC LOGO*/

form img.mb4 {
    justify-self: center;
    margin-bottom: 5px;
}

.tup-label {
    width: 100%;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
}

.assist-label {
    width: 100%;
    font-weight: bold;
    font-size: 26px;
    color: #C51F3A;
    margin-bottom: 2px;
}

.adt-label {
    width: 100%;
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 8%;
}


/*email at password*/

.form-control {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    height: 50px;
    border: 1px solid #CED4DA;
    font-weight: 300;
    font-size: 18px;
    border-radius: 10px;
}

.form-control:focus {
    box-shadow: none;
}

.inputs {
    display: grid;
    row-gap: 10px;
}