* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    height: 100vh;
}

a {
    color: black;
}

a:focus {
    font-weight: bold;
}


/* navbar */

#navbarnavbar {
    height: 60px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
    background-color: #F8F9FB;
    z-index: 100;
    padding: 0 10% 0 10%;
}

.navbarLagayan {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbarLagayan a {
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.lagayanNgButton {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

#logoutbutton {
    background-color: #E2435E;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    margin-left: 15px;
}

#logoutbutton:hover {
    border: 1px solid #E2435E;
    color: #E2435E;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    background-color: white;
}

.navbarLagayan button {
    background-color: #E2435E;
    color: white;
    border: none;
    justify-self: flex-end;
}

#s_profile,
#adding,
#dropping,
#transferring {
    font-weight: bold;
}


/* katawan yung section */

.bg-container {
    width: 100%;
    background-image: url(../images/F3D4D9.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2% 5% 2% 5%;
}


/* main lagayan sa loob ng section - lagayan ng tatlong box */

.bodybody {
    display: grid;
    width: 100%;
    height: 100%;
}


/* lagayan nung 2 box */

.boxes {
    width: 100%;
    height: 150px;
    display: flex;
    gap: 20px;
}


/* student Details at mga laman */

.studentDetails {
    background-color: #E2435E;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    padding: 10px;
}

.innerStudentDetails {
    display: grid;
    width: 100%;
    height: 100%;
}


/* progress box at mga laman niya */

.progressbox {
    background-color: #F8F9FB;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    display: flex;
}


/* hati lang */

.dividerLangs {
    height: 20px;
}


/* yung lagayan ng adding ganon */

.innerBody {
    width: 100%;
    min-height: 70vh;
    border-radius: 5px;
    background-color: #F8F9FB;
    padding: 4% 4% 4% 4%;
}


/* mga text */

.lagayan1,
.lagayan2,
.lagayan3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E2435E;
}

p {
    width: 50%;
    color: white;
    font-size: 15px;
    font-weight: 300;
}

#p1 {
    font-weight: 500;
}

.isapanglagayan,
.lagayanNgStatus {
    width: 100%;
}

.isapanglagayan {
    display: grid;
    justify-content: center;
    align-content: center;
}

.isapanglagayan #p1,
.isapanglagayan p,
.lagayanNgStatus #p1,
.lagayanNgStatus p {
    color: #E2435E;
    width: 100%;
}


/*  Rejay's edit */

.image-upload {
    width: 100%;
}

.image-upload img {
    width: 200px;
    height: auto;
    cursor: pointer;
}

.image-upload>input {
    display: none;
}


/* footer */

footer {
    position: sticky;
    background-color: white;
    box-shadow: -1px -7px 16px -10px rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 40px;
    z-index: 100;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    flex-direction: column;
    gap: 10px;
}

footer button {
    background-color: transparent;
    border: none;
}

footer button img {
    width: 20px;
}

#sched-up {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0;
}

#sched-down {
    display: none;
    justify-content: center;
    width: 100%;
}


/* lagayan ng data */

#datadata {
    display: none;
    height: 400px;
    width: 90%;
    justify-self: center;
}


/* grades file yung upload ng file/pdf */

#gradesfile {
    border: 1px solid #E2435E;
}

.alert-link {
    width: 80%;
}

.table {
    margin-top: 1%;
}

th {
    font-size: 10px;
}

td {
    font-size: 12px;
    width: fit-content;
}


/* pag maliit na ang screen */

@media only screen and (max-width: 1000px) {
    .navbarLagayan {
        text-align: center;
        align-items: center;
    }
    #navbarnavbar {
        padding: 0 5% 0 5%;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        position: sticky;
        top: 0;
        z-index: 1;
    }
    #navbarToggleExternalContent {
        background-color: #F8F9FB;
        width: 100%;
    }
    #center {
        display: grid;
        width: 100%;
        justify-items: center;
        align-items: center;
        text-align: center;
        padding: 10% 10% 10% 10%;
    }
    .bg-container {
        width: 100%;
        padding: 2% 2% 2% 2%;
    }
    .bodybody {
        width: 100%;
    }
    .boxes {
        display: grid;
        height: fit-content;
    }
    .studentDetails {
        height: 150px;
        width: 100%;
    }
    .progressbox {
        height: 150px;
        width: 100%;
    }
}


/* Dagdag MULTI_FORM 11/17/22 */

h1 {
    text-align: center;
}

h2 {
    margin: 0;
}

#multi-step-form-container {
    margin-top: 5rem;
}

.text-center {
    text-align: center;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.pl-0 {
    padding-left: 0;
}

.button {
    padding: 0.7rem 1.5rem;
    border: 1px solid #4361ee;
    background-color: #4361ee;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn {
    border: 1px solid #0e9594;
    background-color: #0e9594;
}

.mt-3 {
    margin-top: 2rem;
}

.d-none {
    display: none;
}

.form-step {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 3rem;
}

.font-normal {
    font-weight: normal;
}

ul.form-stepper {
    counter-reset: section;
    margin-bottom: 3rem;
}

ul.form-stepper .form-stepper-circle {
    position: relative;
}

ul.form-stepper .form-stepper-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.form-stepper-horizontal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

ul.form-stepper>li:not(:last-of-type) {
    margin-bottom: 0.625rem;
    -webkit-transition: margin-bottom 0.4s;
    -o-transition: margin-bottom 0.4s;
    transition: margin-bottom 0.4s;
}

.form-stepper-horizontal>li:not(:last-of-type) {
    margin-bottom: 0 !important;
}

.form-stepper-horizontal li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.form-stepper-horizontal li:not(:last-child):after {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    content: "";
    top: 32%;
}

.form-stepper-horizontal li:after {
    background-color: #dee2e6;
}

.form-stepper-horizontal li.form-stepper-completed:after {
    background-color: #4da3ff;
}

.form-stepper-horizontal li:last-child {
    flex: unset;
}

ul.form-stepper li a .form-stepper-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0;
    line-height: 1.7rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
}

.form-stepper .form-stepper-active .form-stepper-circle {
    background-color: #4361ee !important;
    color: #fff;
}

.form-stepper .form-stepper-active .label {
    color: #4361ee !important;
}

.form-stepper .form-stepper-active .form-stepper-circle:hover {
    background-color: #4361ee !important;
    color: #fff !important;
}

.form-stepper .form-stepper-unfinished .form-stepper-circle {
    background-color: #f8f7ff;
}

.form-stepper .form-stepper-completed .form-stepper-circle {
    background-color: #0e9594 !important;
    color: #fff;
}

.form-stepper .form-stepper-completed .label {
    color: #0e9594 !important;
}

.form-stepper .form-stepper-completed .form-stepper-circle:hover {
    background-color: #0e9594 !important;
    color: #fff !important;
}

.form-stepper .form-stepper-active span.text-muted {
    color: #fff !important;
}

.form-stepper .form-stepper-completed span.text-muted {
    color: #fff !important;
}

.form-stepper .label {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.form-stepper a {
    cursor: default;
}

#step-1,
#step-2,
#step-3 {
    border: solid 1px #E2435E;
}

#step1 {
    display: grid;
}