* {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}


/*NAVBAR*/

.nav-link {
    margin-right: 20px;
    color: #E2435E;
}

a {
    color: #E2435E;
}

a:focus {
    font-weight: bold;
}

#tupcnav {
    width: 100%;
    height: 60px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding-left: 5%;
    padding-right: 5%;
    position: sticky;
}

#tupcnav img {
    margin-right: 15px;
}

#tupcnav img:hover {
    margin-right: 15px;
}

#tupcnav .navbar-brand {
    font-weight: bold;
    font-size: 12px;
    color: black;
}

#logoutbutton {
    background-color: #E2435E;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
}

#logoutbutton:hover {
    border: 1px solid #E2435E;
    color: #E2435E;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    background-color: white;
}


/* body */

body {
    height: 100%;
    background-color: #ECECEC;
}

.bg-container {
    width: 100%;
    height: 100%;
    background-image: url(../images/F3D4D9.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2% 16% 2% 22%;
}

.content {
    width: 100%;
    display: grid;
    background-color: white;
    margin-top: 2%;
    padding: 20px 40px 20px 40px;
    border-radius: 10px;
}

.add-label {
    margin-top: 4%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-label p {
    width: 50%;
    height: 100%;
    font-weight: bold;
}

.drop-label {
    margin-top: 4%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.drop-label p {
    width: 50%;
    height: 100%;
    font-weight: bold;
}

.transfer-label {
    margin-top: 4%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.transfer-label p {
    width: 50%;
    height: 100%;
    font-weight: bold;
}

.grades-label {
    margin-top: 4%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.grades-label p {
    width: 50%;
    height: 100%;
    font-weight: bold;
}

.action {
    display: flex;
    justify-content: space-evenly;
}

.action i {
    font-size: 20px;
}

#subject,
#subject1,
#subject2,
#course,
#course1,
#course2,
#yrandsec,
#yrandsec1,
#yrandsec2,
#sched {
    border: solid 1px #E2435E;
    height: 25px;
    border-radius: 8%;
    width: 100%;
}

.sched-icon {
    padding: 5px;
    border: none;
    background-color: transparent;
    width: 10px;
}

.image-icon {
    width: 80px;
    height: 80px;
}

.modal-dialog {
    width: 100%;
    min-width: 1000px;
    margin-top: 5%;
}

.image-upload>input {
    display: none;
}

.column-custom,
.image-upload {
    display: flex;
    justify-content: justify;
    align-content: center;
    padding: 2% 2% 2% 3%;
}

.column-custom img,
.add-img {
    width: 100px;
    margin: 2% 2% 2% 3%;
    height: auto;
}

@media only screen and (max-width: 1000px) {
    .bg-container {
        padding: 2% 5% 2% 5%;
    }
}

@media only screen and (min-width:1000px) {
    #navbarToggleExternalContent {
        display: flex;
        justify-content: flex-end;
    }
}