{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TUPC Administrator: Adding</title>

    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!--CSS Custom -->
    <link rel="stylesheet" href="{%static 'css/r-request.css'%}">

    <!--ICONS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="icon" href="{%static 'images/tuplogo.png'%}g">

</head>


<body>

    <nav class="navbar navbar-expand-lg" id="navbarnavbar">
        <div class="navbarLagayan">
            <img src="{%static 'images/tuplogo.png'%}" width="30" height="30">
            <a class="nav-link" href="{%url 'TupAssistApp:a_dashboard'%}">Technological University of the Philippines - <span style="color: #E2435E; font-weight: 500;"> Assist</span></a>
            <div class="lagayanNgButton">
                <button class="navbar-toggler navbar-light" type="button" style="background-color: transparent;" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">

            <form class="d-flex">
                <ul class="navbar-nav mr-auto" id="center">
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:a_dashboard'%}" id="">Dashboard <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:a_account'%}" id="">Accounts</a>
                    </li>
                    <li class="nav-item" active>
                        <a class="nav-link" href="{%url 'TupAssistApp:a_adding'%}" id="adding">Adding</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:a_dropping'%}" id="">Dropping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:a_transferring'%}" id="">Transfer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:logout'%}" id="logoutbutton">Logout</a>
                    </li>
                </ul>
            </form>
        </div>
    </nav>





    <div class="bg-container">
        <div class="welcome">
            <p>Welcome, Administrator!</p>
            <p>{{ current_user.email }}</p>
        </div>

        <div class="content">
            <div class="add-request-label">
                <p>ADD SUBJECT REQUESTS:</p>
            </div>

            <div class="filter">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" name="program" id="program" placeholder="Search...">
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" onclick="myFunction()">Print PDF</button>
                    </div>
                </div>
            </div>


            <div style="overflow-x:auto;">

                <table class="table table-bordered" id="print">
                    <thead>
                        <th colspan="2" style="text-align: center;">STUDENT DETAILS</th>
                        <th colspan="3" style="text-align: center;">SUBJECT TO BE TAKEN BY STUDENT</th>
                        <th colspan="4" style="text-align: center;">PROGRAM-IN-CHARGE</th>
                        <th colspan="4" style="text-align: center;">DEPARTMENT HEAD</th>
                        <th colspan="3" style="text-align: center;">ASSIST. DIRECTOR OF ACADEMIC AFFAIRS</th>
                    </thead>
                    <thead>
                        <th>SECTION</th>
                        <th>NAME</th>
                        <th>SUBJECT</th>
                        <th>SECTION</th>
                        <th>SCHEDULE</th>
                        <th>APPROVAL</th>
                        <th>REMARK</th>
                        <th>ENLISTED BY</th>
                        <th>DATE & TIME</th>
                        <th>APPROVAL</th>
                        <th>REMARK</th>
                        <th>ENDORSED BY</th>
                        <th>DATE & TIME</th>
                        <th>APPROVAL</th>
                        <th>ADMIN NAME</th>
                        <th>DATE & TIME</th>
                    </thead>

                    <tbody id="table">
                        {% for i in req %}
                        <tr>
                            <td id="search">{{i.studID.course}}-{{i.studID.year}}{{i.studID.section}}</td>
                            <td>{{i.studID.first_name}} {{i.studID.last_name}}</td>
                            <td>{{i.subject.subject}}-{{i.subject.description}}</td>
                            <td>{{i.section}}</td>
                            <td>{{i.sched}}</td>
                            <td>{{i.pic_is_approve}}</td>
                            <td>{{i.pic_remark}}</td>
                            <td>{{i.pic_name}}</td>
                            <td>{{i.pic_date}}</td>
                            <td>{{i.head_is_approve}}</td>
                            <td>{{i.head_remark}}</td>
                            <td>{{i.head_name}}</td>
                            <td>{{i.head_date}}</td>
                            <td>{{i.admin_approve}}</td>
                            <td>{{i.admin_name}}</td>
                            <td>{{i.admin_date}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>


    </div>


    <!--JAVASCRIPT-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <script>
        // Filter  inputs
        var $rows = $('#table tr');
        $('#program').keyup(function() {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

            $rows.show().filter(function() {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });
    </script>









</body>

</html>