{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TUPC ADAA: View Student Requests</title>

    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!--CSS Custom -->
    <link rel="stylesheet" href="{%static 'css/r_adding_view.css'%}">


    <!--ICONS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="icon" href="{%static 'images/tuplogo.png'%}">

    <!--DATATABLES-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
</head>


<body>

    <nav class="navbar navbar-expand-lg" id="navbarnavbar">
        <div class="navbarLagayan">
            <img src="{%static 'images/tuplogo.png'%}" alt="TUPLogo.png" width="30" height="30">
            <a class="nav-link" href="{%url 'TupAssistApp:adaa_profile'%}">Technological University of the Philippines - <span style="color: #E2435E; font-weight: 500;"> Assist</span></a>
            <div class="lagayanNgButton">
                <a class="nav-link" href="{%url 'TupAssistApp:adaa_dropping'%}" id="logoutbutton">Back</a>
            </div>
        </div>
    </nav>


    <div class="bg-container">
        <div class="welcome">
            <p>Welcome, {{ current_user.userType }}!</p>
            <p>{{ current_user.email }}</p>
        </div>

        <div class="content">
            <div style="overflow-x:auto;">

                <h1 style="text-align:center; margin-bottom: 30px;">Dropping of Subjects Request:</h1>

                <div class="container" style="margin:15px 0 15px 0;">
                    <div class="row">
                        <div class="col">
                            <p>Name: {{ student_info.first_name }} {{ student_info.last_name }}</p>
                        </div>
                        <div class="col" style="text-align: end;">
                            <p>Student ID: {{ student_info.studID }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Course Year and Section: {{ student_info.course }}-{{ student_info.year }}{{ student_info.section }}</p>
                        </div>
                    </div>
                </div>

                <div style="overflow-x: scroll;">
                    <table class="table table-bordered" id="table_id" style="width: 100%;">
                        <thead>
                            <tr>
                                <th colspan="5" style="text-align: center;">SUBJECT TO BE TAKEN BY STUDENT</th>
                                <th colspan="4" style="text-align: center;">TEACHER</th>
                                <th colspan="4" style="text-align: center;">DEPARTMENT HEAD</th>
                                <th colspan="4" style="text-align: center;">ASSIST. DIRECTOR OF ACADEMIC AFFAIRS</th>
                                <th colspan="3" style="text-align: center;">REGISTRAR</th>
                            </tr>
                            <tr>
                                <th>SUBJECT</th>
                                <th>SECTION</th>
                                <th>SCHEDULE</th>
                                <th>REASONS</th>
                                <th>DATE & TIME</th>
                                <th>ACTION TAKEN</th>
                                <th>REMARK</th>
                                <th>ENLISTED BY</th>
                                <th>DATE & TIME</th>
                                <th>ACTION TAKEN</th>
                                <th>REMARK</th>
                                <th>ENDORSED BY</th>
                                <th>DATE & TIME</th>
                                <th>ACTION TAKEN</th>
                                <th>APPROVED BY</th>
                                <th>DATE & TIME</th>
                                <th>ACTION</th>
                                <th>ACTION TAKEN</th>
                                <th>ENLISTED BY</th>
                                <th>DATE & TIME</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for i in req %}
                            <tr>
                                <td>{{i.subject.subject}}-{{i.subject.description}}</td>
                                <td>{{i.section}}</td>
                                <td>{{i.sched}}</td>
                                <td>{{i.reason}}</td>
                                <td>{{i.req_date}}</td>
                                <td>{{i.subj_teacher_approve}}</td>
                                <td>{{i.subj_teacher_remark}}</td>
                                <td>{{i.subj_teacher_name}}</td>
                                <td>{{i.subj_teacher_date}}</td>
                                <td>{{i.head_is_approve}}</td>
                                <td>{{i.head_remark}}</td>
                                <td>{{i.head_name}}</td>
                                <td>{{i.head_date}}</td>
                                <td>{{i.admin_approve}}</td>
                                <td>{{i.admin_name}}</td>
                                <td>{{i.admin_date}}</td>
                                <td>
                                    {% if i.admin_approve == 'Pending' %}
                                    <a class="btn btn-primary" href="/adaa_approved_sub2/{{i.id}}">Approve</a>
                                    <br> {% else %}
                                    <a class="btn btn-primary disabled" href="/adaa_approved_sub2/{{id}}" aria-disabled="true" disabled>Approve</a>
                                    <br> {% endif %}
                                </td>
                                <td>{{i.reg_action}}</td>
                                <td>{{i.enlist_by}}</td>
                                <td>{{i.reg_date}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <!-- <form action="/adaa_dropping_approve" method="post">
        {% csrf_token %}
        <input type="text" name="admin_name" id="admin_name" value="{{current_user.first_name}} {{current_user.last_name}}" hidden>
        <input type="text" name="studID" id="studID" value="{{student_info.studID}}" hidden>
        <br> {% if req|length > 0 %}
        <button type="submit" class="btn btn-primary">Approve All</a>
        {% endif %}
    </form> -->


    <!--JAVASCRIPT-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>


    <!-- Messages -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %} {% for message in messages %} {% if message.tags %}
    <script>
        Swal.fire({
            text: '{{ message }}',
        })
    </script> {% endif %} {% endfor %} {% endif %}

    <!--DATATABLES-->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('#table_id').DataTable();
        });
    </script>

</body>

</html>