{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TUP-ASSIST </title>
    <!-- css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">


    <!-- icon sa bar tab and fonts -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../../static/images/tuplogo.png" type="image/x-icon">


    <!-- DROPDOWN BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

    <!--CSS Custom -->
    <link rel="stylesheet" href="{%static 'css/h-request-edit.css'%}">

    <!--ICONS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg" id="navbarnavbar">
        <div class="navbarLagayan">
            <img src="../../static/images/tuplogo.png" alt="TUPLogo.png" width="30" height="30">
            <a class="nav-link" href="{%url 'TupAssistApp:h_adding'%}">Technological University of the Philippines - <span style="color: #E2435E; font-weight: 500;"> Assist</span></a>
            <div class="lagayanNgButton">
                <a class="nav-link" href="{%url 'TupAssistApp:h_dropping'%}" id="logoutbutton">Back</a>
            </div>
        </div>
    </nav>



    <section>
        <div class="bodybody">

            <div class="welcome">Welcome, {{ current_user.department }}!</div>

            <div class="dividerLangs"></div>

            <div style="overflow-x:auto;" class="innerBody">
                <div class="stud-request-label">
                    <p>DROPPING SUBJECT REQUESTS:</p>
                </div>

                <div class="student-ifo">
                    <p>Name: {{ student_info.first_name }} {{ student_info.last_name }}</p>
                    <p>Student ID: {{ student_info.studID }}</p>
                    <p>Course Year and Section: {{ student_info.course }}-{{ student_info.yrandsec }}</p>
                    <p>Grades File: {% if current_user.upload != '' %}<a href="#" class="alert-link" onclick="window.open('{{ student_info.upload.url }}');">{{ student_info.upload }}</a> {% endif %}</p>

                </div>

                <!--HTML code to display data in tabular format-->
                <table class="table">
                    <thead>
                        <th>NO.</th>
                        <th>STUDENT ID</th>
                        <th>SUBJECT</th>
                        <th>COURSE</th>
                        <th>Y&S</th>
                        <th>REASON</th>
                        <th>HEAD: APPROVAL</th>
                        <th>HEAD: COMMENT</th>
                        <th>ACTION</th>
                    </thead>

                    <tbody>
                        {% for e in req %}
                        <tr>
                            <td>{{e.id}}</td>
                            <td>{{e.studID}}</td>
                            <td>{{e.subject}} </td>
                            <td>{{e.course}}</td>
                            <td>{{e.yrandsec}}</td>
                            <td>{{e.reason}}</td>
                            <td>{{e.headCheck}}</td>
                            <td>{{e.headComment}}</td>
                            <td class="action">
                                <a data-toggle="modal" data-target="#exampleModal{{e.id}}"> <i class="bi bi-pencil"></i> </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </section>

    <!--UPDATE-->
    <!-- Modal -->
    {% for e in req %}
    <div class="modal fade" id="exampleModal{{e.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit: {{e.id}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                </div>

                <form class="form" method="post">
                    <div class="modal-body">
                        {% csrf_token %}

                        <input type="text" name="id" id="id" value="{{e.id}}" hidden>

                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="studID">Student ID</label>
                                <input type="text" class="form-control" name="studID" id="studID" value="{{e.studID}}" readonly>

                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="subject">Subject</label>
                                <input type="text" class="form-control" name="subject" id="subject" value="{{e.subject}}" readonly>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="course">Course</label>
                                <input type="text" class="form-control" name="course" id="course" value="{{e.course}}" readonly>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="yrandsec">Year and Section</label>
                                <input type="text" class="form-control" name="yrandsec" id="yrandsec" value="{{e.yrandsec}}" readonly>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="reason">Reason</label>
                                <input type="text" class="form-control" name="reason" id="reason" value="{{e.reason}}" readonly>
                            </div>

                            <div class="col-md-4 mb-3 ">
                                <label for="headCheck ">Head Approval</label>
                                <input type="text " class="form-control " name="headCheck" id="headCheck" value="{{e.headCheck}}">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="headComment">Head Comment</label>
                                <input type="text" class="form-control" name="headComment" id="headComment" value="{{e.headComment}}">
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    {% endfor %}



    <!-- bootstrap na js: yung seperate -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

    <!--DROPDOWN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function() {
            // Source: https://stackoverflow.com/questions/18796221/creating-a-select-box-with-a-search-option
            //change selectboxes to selectize mode to be searchable
            $("#subject").select2();
            $("#course").select2();
            $("#yrandsec").select2();

        });
    </script>

    <script>
        console.log("chichi")

        document.getElementById("sched-up").addEventListener("click", function() {
            document.getElementById("sched-down").style.display = 'flex';
            document.getElementById("sched-up").style.display = "none";
            document.getElementById("footerfooter").style.height = "500px";
            document.getElementById('datadata').style.display = "grid";

        })

        document.getElementById("sched-down").addEventListener("click", function() {
            document.getElementById("sched-up").style.display = 'flex';
            document.getElementById("sched-down").style.display = "none";
            document.getElementById("footerfooter").style.height = "40px";
            document.getElementById('datadata').style.display = "none";
        })
    </script>


</body>

</html>