{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TUPC Administration: Add Subject</title>



    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!--CSS Custom -->
    <link rel="stylesheet" href="{%static 'css/h-request.css'%}">

    <!--FONTS-->
    <link rel="stylesheet" href="../../static/css/fonts.css">

    <!--ICONS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="icon" href="../../static/images/tuplogo.png">

    <!--DATATABLES-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg" id="navbarnavbar">
        <div class="navbarLagayan">
            <img src="../../static/images/tuplogo.png" alt="TUPLogo.png" width="30" height="30">
            <a class="nav-link" href="{%url 'TupAssistApp:h_adding'%}">Technological University of the Philippines - <span style="color: #E2435E; font-weight: 500;"> Assist</span></a>
            <div class="lagayanNgButton">
                <button class="navbar-toggler navbar-light" type="button" style="background-color: transparent;" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">

            <form class="d-flex">
                <ul class="navbar-nav mr-auto" id="center">
                    <li class="nav-item active">
                        <a class="nav-link" href="{%url 'TupAssistApp:h_adding'%}" id="">Adding<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:h_dropping'%}" id="">Dropping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:h_transferring'%}" id="">Transfer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:h_schedule'%}" id="slots">Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:logout'%}" id="logoutbutton">Logout</a>
                    </li>
                </ul>
            </form>
        </div>
    </nav>


    <div class="bg-container">
        <div class="welcome">Welcome, {{ current_user.department }}!</div>

        <div class="content">
            <div class="stud-request-label">
                <p>Schedule:</p>
            </div>

            <div class="filter">

                <div class="row">
                    <div class="col-8">
                        <select class="custom-select" name="program">
                            <option value="all">Program</option>
                            <option value="Sample1">Sample1</option>
                            <option value="Sample2">Sample2</option>
                            <option value="Sample3">Sample3</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <select class="custom-select" name="schoolyear">
                            <option value="all">School Year</option>
                            <option value="1920">1920</option>
                            <option value="2021">2021</option>
                            <option value="2122">2122</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <select class="custom-select" name="term">
                            <option value="all">Term</option>
                            <option value="First">First</option>
                            <option value="Second">Second</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="custom-select" name="yearlevel">
                            <option value="all">Year Level</option>
                            <option value="First Year">First Year</option>
                            <option value="Second Year">Second Year</option>
                            <option value="Fourth Year">Fourth Year</option>
                            <option value="Fifth Year">Fifth Year</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="custom-select" name="section">
                            <option value="all">Section</option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary">Reset</button>
                    </div>
                </div>


            </div>


            <div style="overflow-x:auto;">
                <!--HTML code to display data in tabular format-->
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <th>SUBJECT CODE</th>
                        <th>DESCRIPTION</th>
                        <th>LEC</th>
                        <th>LEC</th>
                        <th>LAB</th>
                        <th>UNITS</th>
                        <th>SECTION</th>
                        <th>SCHOOL YEAR</th>
                        <th>TERM</th>
                        <th>SLOTS</th>
                        <th>SCHEDULE</th>
                    </thead>

                    <tbody>
                        <tr class="all Sample1 1920 First">
                            <td>Sample1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1920</td>
                            <td>First</td>
                            <td></td>
                            <td style="text-align: center;"></td>
                        </tr>

                        <tr class="all Sample2 2021 First">
                            <td>Sample2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>2021</td>
                            <td>First</td>
                            <td></td>
                            <td style="text-align: center;"></td>
                        </tr>

                        <tr class="all Sample3 2122 Second">
                            <td>Sample3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>2122</td>
                            <td>Second</td>
                            <td></td>
                            <td style="text-align: center;"></td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>


        <div class="content">
            <div class="stud-request-label">
                <p>Dito nakalagay yung table na naka week form ng schedule na na-iplot:</p>
            </div>

        </div>


    </div>






    <!--JAVASCRIPT-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>


    <script>
        // Filter 
        $(".filter select").on('change', function() {
            var filters = $.map($(".filter select").toArray(), function(e) {
                return $(e).val();
            }).join(".");
            $("tbody").find("tr").hide();
            $("tbody").find("tr." + filters).show();

        });
        // Reset
        $('button').on('click', function() {
            $(".filter select").val($("option:first").val());
            $("tbody").find("tr").show();
        });
    </script>





</body>

</html>