{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TUPC Administration: Drop of Subject</title>



    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!--CSS Custom -->
    <link rel="stylesheet" href="{%static 'css/h_transferring.css'%}">

    <!--FONTS-->
    <link rel="stylesheet" href="../../static/css/fonts.css">

    <!--ICONS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="icon" href="../../static/images/tuplogo.png">

</head>

<body>

    <nav class="navbar navbar-expand-lg" id="navbarnavbar">
        <div class="navbarLagayan">
            <img src="../../static/images/tuplogo.png" alt="TUPLogo.png" width="30" height="30">
            <a class="nav-link" href="{%url 'TupAssistApp:h_adding'%}">Technological University of the Philippines - <span style="color: #E2435E; font-weight: 500;"> Assist</span></a>
            <div class="lagayanNgButton">
                <button class="navbar-toggler navbar-light" type="button" style="background-color: transparent;" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">

            <form class="d-flex">
                <ul class="navbar-nav mr-auto" id="center">
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:h_profile'%}" id="">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:h_subject'%}" id="">Subjects</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{%url 'TupAssistApp:h_adding'%}" id="">Adding<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:h_dropping'%}" id="">Dropping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:h_transferring'%}" id="transferring">Transfer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:logout'%}" id="logoutbutton">Logout</a>
                    </li>
                </ul>
            </form>
        </div>
    </nav>




    <div class="bg-container">
        <div class="welcome">Welcome, {{ current_user.department }}!</div>

        <div class="content">


            <div class="stud-request-label">
                <p>TANSFERRING OF SUBJECT REQUESTS:</p>
            </div>



            {% if current_user.department == None %}
            <div class="alert alert-danger" role="alert">
                Notice: You can't proceed to in this Transaction if your Personal Information is not complete.
            </div>{% endif %}


            <br> {% if current_user.department != None %}
            <div class="filter">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" name="program" id="program" placeholder="Program Ex. BET-COET">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="section" id="section" placeholder="Year and Section Ex. 4A">
                    </div>
                </div>
            </div>



            <div style="overflow-x:auto;" id="table">
                <!--HTML code to display data in tabular format-->
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <th>STUDENT ID</th>
                        <th>NAME</th>
                        <th>EMAIL</th>
                        <th style="text-align: center;">PROGRAM</th>
                        <th style="text-align: center;">YEAR & SECTION</th>
                        <th>STATUS</th>
                        <th style="text-align: center;">ACTION</th>
                    </thead>

                    <tbody>
                        {% for e in test %}
                        <tr class="all {{e.studID}} {{e.first_name}} {{e.last_name}} {{e.email}} {{e.course}} {{e.year}}{{e.section}}">
                            <td>{{e.studID}}</td>
                            <td>{{e.first_name}} {{e.last_name}}</td>
                            <td>{{e.email}}</td>
                            <td style="text-align: center;">{{e.course}}</td>
                            <td style="text-align: center;">{{e.year}}{{e.section}}</td>
                            <td>{{e.addStatus}}</td>
                            <td class="action">
                                <a href="/h_adding_edit/{{e.studID}}"><i class="bi bi-pencil"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>{% endif %}
        </div>


    </div>




    <!--JAVASCRIPT-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>


    <script>
        // Filter  inputs
        var $rows = $('#table tbody tr');
        $('#program, #section').on('input', function() {
            var val1 = $.trim($('#program').val()).replace(/ +/g, ' ').toLowerCase();
            var val2 = $.trim($('#section').val()).replace(/ +/g, ' ').toLowerCase();

            $rows.show().filter(function() {
                var text1 = $(this).find('td:nth-child(4)').text().replace(/\s+/g, ' ').toLowerCase();
                var text2 = $(this).find('td:nth-child(5)').text().replace(/\s+/g, ' ').toLowerCase();
                return !~text1.indexOf(val1) || !~text2.indexOf(val2);
            }).hide();
        });
    </script>


</body>

</html>