{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TUPC Administration: Add Subject</title>



    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!--CSS Custom -->
    <link rel="stylesheet" href="{%static 'css/h_subject.css'%}">

    <!--FONTS-->
    <link rel="stylesheet" href="../../static/css/fonts.css">

    <!--ICONS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="icon" href="{%static 'images/tuplogo.png'%}">

    <!--DATATABLES-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg" id="navbarnavbar">
        <div class="navbarLagayan">
            <img src="{%static 'images/tuplogo.png'%}" alt="TUPLogo.png" width="30" height="30">
            <a class="nav-link" href="{%url 'TupAssistApp:h_adding'%}">Technological University of the Philippines - <span style="color: #E2435E; font-weight: 500;"> Assist</span></a>
            <div class="lagayanNgButton">
                <button class="navbar-toggler navbar-light" type="button" style="background-color: transparent;" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">

            <form class="d-flex">
                <ul class="navbar-nav mr-auto" id="center">
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:h_profile'%}" id="">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:h_subject'%}" id="subject">Subjects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:h_logs'%}" id="">Logs</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{%url 'TupAssistApp:h_adding'%}" id="" style="display: flex;">Adding<span>{% if cnt2 > 0 %}<i class="bi bi-exclamation-circle-fill" style="color:#E2435E;"></i>{%endif%}</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:h_dropping'%}" id="">Dropping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:h_transferring'%}" id="">Transfer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:logout'%}" id="logoutbutton">Logout</a>
                    </li>
                </ul>
            </form>
        </div>
    </nav>


    <div class="bg-container">
        <div class="welcome">Welcome, {{ current_user.department }}!</div>

        <div class="content">

            <div class="title">
                <p>OFFER SUBJECTS</p>
                <div class="d-flex" style="justify-content: end;">
                    <form class="form-inline" action="/sub_cvs" method="post" enctype="multipart/form-data" id="subcvsfileform" style="gap:10px;">
                        {% csrf_token %}

                        <button type="button" class="btn btn-primary" onclick="document.getElementById('subcvsfile').click()">Upload CSV File</button>
                        <input type="file" style="display:none" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" name="subcvsfile" id="subcvsfile" required>

                        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="bi bi-info-circle"></i></a>
                    </form>
                </div>
            </div>
            <div class="collapse" id="collapseExample" style="margin-bottom: 10px;">
                <div class="card card-body">
                    Reminder: Import Offer Subjects with the csv file.
                    <br>CSV Format for subject are as follows:
                    <br>Deparment Initials/Course, Year, Semester, Shop Number, Description
                    <br>Ex. DIT,1,1,1,L,Major Subject Lab.
                </div>
            </div>

            <div style="overflow-x:auto; margin-bottom:2%; margin-top:2%;">
                <table id="table_id" class="display">
                    <thead>
                        <th>COURSE</th>
                        <th>YEAR</th>
                        <th>SEMESTER</th>
                        <th>SHOP</th>
                        <th>LAB</th>
                        <th>SUBJECT CODE</th>
                        <th>DESCRIPTION</th>
                    </thead>

                    <tbody>
                        {% for i in subs %}
                        <tr>
                            <td>{{i.course}}</td>
                            <td>{{i.year}}</td>
                            <td>{{i.semester}}</td>
                            <td>{{i.shop}}</td>
                            <td>{{i.is_lab}}</td>
                            <td>{{i.subject}}</td>
                            <td>{{i.description}}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>


    </div>






    <!--JAVASCRIPT-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <!-- Messages -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %} {% for message in messages %} {% if message.tags %}
    <script>
        Swal.fire({
            text: '{{ message }}',
        })
    </script> {% endif %} {% endfor %} {% endif %}


    <!--DATATABLES-->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('#table_id').DataTable();
        });
    </script>

    <!-- Automatic Upload of Files -->
    <script>
        $('#subcvsfile').change(function() {
            $('#subcvsfileform').submit();
        });
    </script>


</body>

</html>