{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TUPC Registrar: Adding</title>

    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!--CSS Custom -->
    <link rel="stylesheet" href="{%static 'css/r-adding.css'%}">

    <!--FONTS-->
    <link rel="stylesheet" href="../../static/css/fonts.css">

    <!--ICONS-->
    <link rel="icon" href="../../static/images/tuplogo.png">

    <!--DATATABLES-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
</head>


<body>

    <nav class="navbar navbar-expand-lg" id="tupcnav">
        <img src="../../static/images/tuplogo.png" width="30" height="30" alt="tuplogo">
        <a class="navbar-brand" href="" id="atech">TECHNOLOGICAL UNIVERSITY OF THE PHILIPPINES - ASSIST</a></a>

        <nav class="navbar">
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
        </nav>

        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">

            <form class="d-flex">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{%url 'TupAssistApp:registrar'%}" id="">Dashboard <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:r_adding'%}" id="adding">Adding</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:r_dropping'%}" id="">Dropping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:r_transferring'%}" id="">Transfer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" id="logoutbutton">Logout</a>
                    </li>
                </ul>
            </form>
        </div>
    </nav>


    <div class="bg-container">
        <div class="welcome">WELCOME, REGISTRAR!</div>

        <div class="content">
            <div style="overflow-x:auto;">
                <!--HTML code to display data in tabular format-->
                <table id="table_id" class="display">
                    <thead>
                        <th>NO.</th>
                        <th>STUDENT ID</th>
                        <th>NAME</th>
                        <th>EMAIL</th>
                        <th>COURSE</th>
                        <th>YEAR AND SECTION</th>
                        <th>ACTION</th>
                    </thead>

                    <tbody>
                        {% for e in test %}
                        <tr>
                            <td>{{e.id}}</td>
                            <td>{{e.studID}}</td>
                            <td>{{e.first_name}} {{e.last_name}}</td>
                            <td>{{e.email}}</td>
                            <td>{{e.course}}</td>
                            <td>{{e.yrandsec}}</td>
                            <td>
                                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{e.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">View</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% for e in test %}
        <div class="content collapse" id="collapseExample{{e.id}}">
            <table class="table">
                <thead class="thead-dark">
                    <legend>Student Name: {{e.first_name}} {{e.last_name}}</legend>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{e.id}}</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endfor %}

    </div>


    <!--JAVASCRIPT-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <!--DATATABLES-->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('#table_id').DataTable();
        });
    </script>


</body>

</html>