{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TUPC Registrar: Dashboard</title>



    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!--CSS Custom -->
    <link rel="stylesheet" href="{%static 'css/registrar.css'%}">

    <!--FONTS-->
    <link rel="stylesheet" href="../../static/css/fonts.css">

    <!--ICONS-->
    <link rel="icon" href="../../static/images/tuplogo.png">

    <!--DATATABLES-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg" id="navbarnavbar">
        <div class="navbarLagayan">
            <img src="../../static/images/tuplogo.png" alt="TUPLogo.png" width="30" height="30">
            <a class="nav-link" href="{%url 'TupAssistApp:students'%}">Technological University of the Philippines - <span style="color: #E2435E; font-weight: 500;"> Assist</span></a>
            <div class="lagayanNgButton">
                <button class="navbar-toggler navbar-light" type="button" style="background-color: transparent;" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">

            <form class="d-flex">
                <ul class="navbar-nav mr-auto" id="center">
                    <li class="nav-item active">
                        <a class="nav-link" href="{%url 'TupAssistApp:registrar'%}" id="dashboard">Dashboard <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:r_adding'%}" id="">Adding</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:r_dropping'%}" id="">Dropping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:r_transferring'%}" id="">Transfer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:logout'%}" id="logoutbutton">Logout</a>
                    </li>
                </ul>
            </form>
        </div>
    </nav>






    <div class="bg-container">
        <div class="welcome">Welcome, {{current_user.username}}!</div>

        <div class="content">

            <div class="transtatus-label">
                <p>TRANSACTION STATUS</p>
            </div>

            <div class="row mx-auto" style="margin-bottom:2%;">
                {% for status in status %}
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{status.TransName}} Of Subject</h5>
                            <a href="/transStatus/{{status.id}}" class="card-link" style="font-weight: bold;">{{status.status}}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


            <div class="gsfe-account-label">
                <p>STUDENT'S GSFE ACCOUNT</p>
                <form class="form-inline" action="/acc_cvs" method="post" enctype="multipart/form-data" name="studcvsfile">
                    {% csrf_token %}
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="file" name="studcvsfile" id="studcvsfile" required>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Import CSV File</button>
                </form>
            </div>


            <div style="overflow-x:auto; margin-bottom:2%;">
                <!--HTML code to display data in tabular format-->
                <table id="table_id" class="display">
                    <thead>
                        <th>NO.</th>
                        <th>EMAIL</th>
                    </thead>

                    <tbody>
                        {% for e in emails %}
                        <tr>
                            <td>{{e.id}}</td>
                            <td>{{e.email}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>



            <div class="offersub-label">
                <p>OFFER SUBJECTS</p>
                <form class="form-inline" action="/sub_cvs" method="post" enctype="multipart/form-data" name="subcvsfile">
                    {% csrf_token %}
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="file" name="subcvsfile" id="subcvsfile" required>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Import CSV File</button>
                </form>
            </div>

            <div style="overflow-x:auto; margin-bottom:2%;">
                <!--HTML code to display data in tabular format-->
                <table id="table_id_1" class="display">
                    <thead>
                        <th>NO.</th>
                        <th>SUBJECT CODE</th>
                        <th>SUBJECT NAME</th>
                        <th>COURSE</th>
                        <th>UNITS</th>
                    </thead>

                    <tbody>
                        {% for subs in subs %}
                        <tr>
                            <td>{{subs.id}}</td>
                            <td>{{subs.SubCode}}</td>
                            <td>{{subs.SubName}}</td>
                            <td>{{subs.Course}}</td>
                            <td>{{subs.Units}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


            <div class="schedule-label">
                <p>SCHEDULE</p>
            </div>

            <form action="/import_sched" method="post" style="margin-bottom:2%;">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <label for="sub_code">Google Sheet Link</label>
                        <input type="text" class="form-control" name="gSheetLink" id="gSheetLink" required>
                    </div>
                    <div class="col">
                        <label for="year">Year</label>
                        <input type="number" class="form-control" name="year" id="year" required>
                    </div>
                    <div class="col">
                        <label for="semester">Semester</label>
                        <select class="custom-select" name="semester" id="semester" required>
                      <option selected disabled value="semester">semester</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                    </select>
                    </div>
                    <div class="col">
                        <label for="button">.</label>
                        <input type="submit" class="form-control" id="button" value="Update Schedule" required>
                    </div>
                </div>
            </form>


            <div style="overflow-x:auto; margin-bottom:2%;">
                <!--Defaul link: https://docs.google.com/spreadsheets/d/e/2PACX-1vRyXUDWAdZM2wLlrOCTJH737SRYTjNYjMevJTCOBE-OdcMXwgnaVoABk7KC5yxvTbFC8qDSeLKFXAHg/pubhtml -->
                <iframe src="{{sched.gSheetLink}}" width="100%" height="500"></iframe>
            </div>

        </div>
    </div>


    <!--JAVASCRIPT-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    {% if messages %} {% for message in messages %} {% if message.tags %}
    <script>
        alert("{{ message }}")
    </script> {% endif %} {% endfor %} {% endif %}

    <!--DATATABLES-->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('#table_id').DataTable();
            $('#table_id_1').DataTable();
        });
    </script>

</body>

</html>