{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TUP-ASSIST </title>


    <!-- DROPDOWN BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

    <!-- css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/s_adding.css'%}">


    <!-- icon sa bar tab and fonts -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{%static 'images/tuplogo.png'%}" type="image/x-icon">
</head>

<body>
    <nav class="navbar navbar-expand-lg" id="navbarnavbar">
        <div class="navbarLagayan">
            <img src="{%static 'images/tuplogo.png'%}" alt="TUPLogo.png" width="30" height="30">
            <a class="nav-link" href="{%url 'TupAssistApp:s_adding'%}">Technological University of the Philippines - <span style="color: #E2435E; font-weight: 500;"> Assist</span></a>
            <div class="lagayanNgButton">
                <button class="navbar-toggler navbar-light" type="button" style="background-color: transparent;" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">

            <form class="d-flex">
                <ul class="navbar-nav mr-auto" id="center">
                    <li class="nav-item active">
                        <a class="nav-link" href="{%url 'TupAssistApp:s_profile'%}" id="profile">Profile<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{%url 'TupAssistApp:s_adding'%}" id="adding">Adding</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:s_dropping'%}" id="">Dropping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:s_transferring'%}" id="">Transfer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:logout'%}" id="logoutbutton">Logout</a>
                    </li>
                </ul>
            </form>
        </div>
    </nav>



    <div class="bg-container">
        <div class="bodybody">

            <div class="boxes">

                <div class="studentDetails">
                    <div class="innerStudentDetails">
                        <div class="lagayan1">
                            <p id="p1">Name:</p>
                            <p style="text-align: end;">{{ current_user.first_name }} {{ current_user.last_name }}</p>
                        </div>
                        <div class="lagayan2">
                            <p id="p1">Student Number:</p>
                            <p style="text-align: end;">{{ current_user.studID }}</p>
                        </div>
                        <div class="lagayan3">
                            <p id="p1">Year Course and Section:</p>
                            <p style="text-align: end;">{{ current_user.course }}-{{ current_user.year }}{{ current_user.section }}</p>
                        </div>
                    </div>
                </div>
                <div class="progressbox">
                    <div class="lagayanNgStatus">
                        <p id="p1">Status:</p>
                        <p style="text-align: center;">{{ current_user.addStatus }}</p>
                    </div>
                    <div class="isapanglagayan"></div>
                </div>
            </div>


            <div class="dividerLangs"></div>

            <div style="overflow-x:auto;" class="innerBody">

                {% if current_user.department == None or current_user.course == None or current_user.section == None or current_user.year == None or current_user.studID == None %}
                <div class="alert alert-danger" role="alert">
                    Notice: You can't proceed to in Add Subject Transaction if your Personal Information is not complete.
                </div>{% endif %}

                <div>

                    <!-- Transaction Status -->
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="school_year">School Year</label>
                            <input type="number" class="form-control" id="school_year" value="{{trans.school_year}}" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="semester">Semester</label>
                            <input type="number" class="form-control" id="semester" value="{{trans.semester}}" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="semester">Status</label>
                            <input type="text" class="form-control" id="semester" value="{{trans.status}}" readonly>
                        </div>
                    </div>

                    <div class="alert alert-danger" role="alert" id="AddTransaction">
                        Notice: Adding Transaction is Closed.
                    </div>


                    <h1>Add Subject Transcation Form</h1>

                    {% if current_user.department != None and current_user.course != None and current_user.section != None and current_user.year != None and current_user.studID != None and current_user.studID != '' %}
                    <div id="multi-step-form-container">
                        <!-- Form Steps / Progress Bar -->
                        <ul class="form-stepper form-stepper-horizontal text-center mx-auto pl-0">
                            <!-- Step 1 -->
                            <li class="form-stepper-active text-center form-stepper-list" step="1">
                                <a class="mx-2">
                                    <span class="form-stepper-circle">
                                        <span>1</span>
                                    </span>
                                    <div class="label">Subject to be taken</div>
                                </a>
                            </li>
                            <!-- Step 2 -->
                            <li class="form-stepper-unfinished text-center form-stepper-list" step="2">
                                <a class="mx-2">
                                    <span class="form-stepper-circle text-muted">
                                        <span>2</span>
                                    </span>
                                    <div class="label text-muted">Wait for PIC Approval</div>
                                </a>
                            </li>
                            <!-- Step 3 -->
                            <li class="form-stepper-unfinished text-center form-stepper-list" step="3">
                                <a class="mx-2">
                                    <span class="form-stepper-circle text-muted">
                                        <span>3</span>
                                    </span>
                                    <div class="label text-muted">Wait for Department Head and Asst. Director for Academic Affairs Approval</div>
                                </a>
                            </li>
                        </ul>

                        <!-- Step Wise Form Content -->
                        <!-- <form id="userAccountSetupForm" name="userAccountSetupForm" enctype="multipart/form-data" method="POST"> -->
                        <!-- Step 1 Content -->
                        <section id="step-1" class="form-step">
                            {% if current_user.addStatus != '' %}
                            <div class="alert alert-success" role="alert">
                                Notice: Already submiited your request. Wait for Program-in-Charge, Department Head and Administration Approval.
                            </div>{% endif %}


                            <h2 class="font-normal">Subject to be taken</h2>
                            <!-- Step 1 input fields -->
                            <div class="mt-3" id="step1">
                                <!-- UPLOAD IMAGES -->
                                {% if current_user.upload != '' %}
                                <div class="lagayanngfile">
                                    Grades: <a href="#" class="alert-link" onclick="window.open('{{ current_user.upload.url }}');">{{ current_user.upload }}</a> <a href="{%url 'TupAssistApp:delupload'%}"><i class="bi bi-x-circle" style="margin-left: 5%; color: #E2435E"></i></a>
                                </div>
                                {% endif %}

                                <br> {% if current_user.upload == '' %}
                                <button type="button" style='margin-bottom:10px;' class="btn btn-primary" data-toggle="modal" data-target="#addFile" id="disable0">
                                    Upload your PDF compile of your previous grades here.
                                </button> {% endif %}
                                <!-- UPLOAD IMAGES -->

                                {% csrf_token %}
                                <table class="table table-bordered" id="disable">
                                    <thead>
                                        <th>NO.</th>
                                        <th>SUBJECT</th>
                                        <th>SECTION</th>
                                        <th>SCHEDULE</th>
                                        <th>ACTION</th>
                                    </thead>
                                    <tbody>
                                        {% for i in req %}
                                        <tr>
                                            <td>{{i.id}}</td>
                                            <td>{{i.subject.subject}}-{{i.subject.description}}</td>
                                            <td>{{i.section}}</td>
                                            <td>{{i.sched}}</td>
                                            <td class="d-flex" style="gap:10px;">
                                                <a type="button" class="btn btn-danger" href="/s_del_sub/{{i.id}}">Delete</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        <form method="post" action="/s_add_sub">
                                            {% csrf_token %}
                                            <tr>
                                                <td colspan="2">
                                                    <select class="custom-select" name="subject" required>
                                                        <option selected disabled>Choose...</option>
                                                        {% for i in subs %}
                                                        <option value="{{i.subject}}">{{i.subject}}-{{i.description}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td hidden><input type="text" class="form-control" name="school_year" value="{{trans.school_year}}" required></td>
                                                <td hidden><input type="text" class="form-control" name="semester" value="{{trans.semester}}" required></td>
                                                <td><input type="text" class="form-control" name="section" required></td>
                                                <td class="d-flex" style="column-gap: 5px;"><input type="text" class="form-control" name="schedule" id="schedule" readonly required> <a class="btn btn-primary" data-toggle="modal" data-target="#editSub">Edit</a> </td>
                                                <td><button type="submit" class="btn btn-primary">+ Add</button></td>
                                            </tr>
                                        </form>
                                    </tbody>
                                </table>


                                <br> {% if current_user.addStatus == '' %}
                                <form method="post" action="/s_step1_submit">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                                </form> {% endif %}

                                <div class="mt-3">
                                    {% if current_user.addStatus != '' %}
                                    <button class="button btn-navigate-form-step" type="button" step_number="2">Next</button> {% endif %}
                                </div>



                                <!-- SHOWING OF SCHEDULE -->
                                <div class="mt-3" style="overflow-x: auto;">


                                    <div id="schedule5" class="jqs-demo mb-3"></div>


                                </div>


                            </div>


                        </section>



                        <!-- Step 2 Content, default hidden on page load. -->
                        <section id="step-2" class="form-step d-none">
                            {% if current_user.addStatus == '' %}
                            <div class="alert alert-danger" role="alert">
                                Notice: Hintayin ang Program-in-charge i-approve ang iyong add request.
                            </div> {% endif %}

                            <h2 class="font-normal">Wait for PIC Approval</h2>
                            <!-- Step 2 input fields -->
                            <div class="mt-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <th colspan="3" style="text-align: center;">SUBJECT TO BE TAKEN BY STUDENT</th>
                                        <th colspan="5" style="text-align: center;">PROGRAM-IN-CHARGE</th>
                                    </thead>
                                    <thead>
                                        <th>SUBJECT</th>
                                        <th>SECTION</th>
                                        <th>SCHEDULE</th>
                                        <th>APPROVAL</th>
                                        <th>REMARK</th>
                                        <th>ENLISTED BY</th>
                                        <th>DATE & TIME</th>
                                    </thead>

                                    <tbody>
                                        {% for i in req %}
                                        <tr>
                                            <td>{{i.subject.subject}}-{{i.subject.description}}</td>
                                            <td>{{i.section}}</td>
                                            <td>{{i.sched}}</td>
                                            <td>{{i.pic_is_approve}}</td>
                                            <td>{{i.pic_remark}}</td>
                                            <td>{{i.pic_name}}</td>
                                            <td>{{i.pic_date}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>


                                {% if current_user.addStatus == 'Update Your Request' %}
                                <div class="mt-3" style="display: flex; justify-content: end;">
                                    <form action="s_step2_submit" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>{% endif %}

                                <div class="mt-3">
                                    <button class="button btn-navigate-form-step" type="button" step_number="1">Prev</button> {% if current_user.addStatus != 'Wait for PIC Approval' %}
                                    <button class="button btn-navigate-form-step" type="button" step_number="3">Next</button> {% endif %}
                                </div>
                        </section>







                        <!-- Step 3 Content, default hidden on page load. -->
                        <section id="step-3" class="form-step d-none">
                            <h2 class="font-normal">Wait for Department Head and Asst. Director for Academic Affairs Approval</h2>

                            <div class="mt-3" style="overflow-x: scroll;">
                                <table class="table table-bordered">
                                    <thead>
                                        <th colspan="3" style="text-align: center;">SUBJECT TO BE TAKEN BY STUDENT</th>
                                        <th colspan="4" style="text-align: center;">PROGRAM-IN-CHARGE</th>
                                        <th colspan="4" style="text-align: center;">DEPARTMENT HEAD</th>
                                        <th colspan="3" style="text-align: center;">ADMINISTRATION</th>
                                    </thead>
                                    <thead>
                                        <th>SUBJECT</th>
                                        <th>SECTION</th>
                                        <th>SCHEDULE</th>
                                        <th>APPROVAL</th>
                                        <th>REMARK</th>
                                        <th>ENLISTED BY</th>
                                        <th>DATE & TIME</th>
                                        <th>APPROVAL</th>
                                        <th>REMARK</th>
                                        <th>ENDORSED BY</th>
                                        <th>DATE & TIME</th>
                                        <th>APPROVAL</th>
                                        <th>ENDORSED BY</th>
                                        <th>DATE & TIME</th>

                                        <tbody>
                                            {% for i in req %}
                                            <tr>
                                                <td>{{i.subject.subject}}-{{i.subject.description}}</td>
                                                <td>{{i.section}}</td>
                                                <td>{{i.sched}}</td>
                                                <td>{{i.pic_is_approve}}</td>
                                                <td>{{i.pic_remark}}</td>
                                                <td>{{i.pic_name}}</td>
                                                <td>{{i.pic_date}}</td>
                                                <td>{{i.head_is_approve}}</td>
                                                <td>{{i.head_remark}}</td>
                                                <td>{{i.head_name}}</td>
                                                <td>{{i.head_date}}</td>
                                                <td>{{i.admin_is_approve}}</td>
                                                <td>{{i.admin_name}}</td>
                                                <td>{{i.admin_date}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                </table>
                            </div>


                            <div class="mt-3">
                                <button class="button btn-navigate-form-step" type="button" step_number="2">Prev</button>
                            </div>
                        </section>













                        </div>
                    </div>{% endif %}
                </div>
            </div>
        </div>

        <!-- Add FIle Modal -->
        <div class="modal fade" id="addFile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Upload a PDF FIle of your compiled previous grades from ERS.</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline" id="gradesfileform" method="post" enctype="multipart/form-data" action="/upload">
                            {% csrf_token %}
                            <div class="image-upload">
                                <label for="gradesfile">
                                  <img src="../../static/images/icons8-pdf-40.png"/>
                                </label>
                                <input type="file" accept="application/pdf" name="gradesfile" id="gradesfile" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Schedule Modal -->
        <div class="modal fade" id="editSub" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Schedule</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Monday</span>
                            </div>
                            <input type="time" class="form-control" aria-describedby="basic-addon1" id="mon_start">
                            <input type="time" class="form-control" aria-describedby="basic-addon1" id="mon_end">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Tuesday</span>
                            </div>
                            <input type="time" class="form-control" aria-describedby="basic-addon1" id="tue_start">
                            <input type="time" class="form-control" aria-describedby="basic-addon1" id="tue_end">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Wednesday</span>
                            </div>
                            <input type="time" class="form-control" aria-describedby="basic-addon1" id="wed_start">
                            <input type="time" class="form-control" aria-describedby="basic-addon1" id="wed_end">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Thurdsay</span>
                            </div>
                            <input type="time" class="form-control" aria-describedby="basic-addon1" id="thu_start">
                            <input type="time" class="form-control" aria-describedby="basic-addon1" id="thu_end">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Friday</span>
                            </div>
                            <input type="time" class="form-control" aria-describedby="basic-addon1" id="fri_start">
                            <input type="time" class="form-control" aria-describedby="basic-addon1" id="fri_end">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Saturday</span>
                            </div>
                            <input type="time" class="form-control" aria-describedby="basic-addon1" id="sat_start">
                            <input type="time" class="form-control" aria-describedby="basic-addon1" id="sat_end">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" onclick="myFunction()" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Update Request Modal -->
        {% for i in req %}
        <div class="modal fade" id="updateReq{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Request Subject</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                    <form action="/s_edit_sub" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group" hidden>
                                <label for="id">Transcation ID</label>
                                <input type="text" class="form-control" id="id" name="id" value="{{i.id}}">
                            </div>
                            <div class="form-group">
                                <label for="subject">Subject</label>
                                <input type="text" class="form-control" id="subject" name="subject" value="{{i.subject}}">
                            </div>
                            <div class="form-group">
                                <label for="section">Section</label>
                                <input type="text" class="form-control" id="section" name="section" value="{{i.section}}">
                            </div>
                            <div class="form-group">
                                <label for="sched">Schedule</label>
                                <div class="d-flex">
                                    <input type="text" style="width:70%" class="form-control" id="sched1" name="sched" value="{{i.sched}}" readonly>
                                    <a class="btn btn-primary" style="width:30%" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Edit</a>
                                </div>

                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body">

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">Monday</span>
                                            </div>
                                            <input type="time" class="form-control" aria-describedby="basic-addon1" id="mon_start1">
                                            <input type="time" class="form-control" aria-describedby="basic-addon1" id="mon_end1">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">Tuesday</span>
                                            </div>
                                            <input type="time" class="form-control" aria-describedby="basic-addon1" id="tue_start1">
                                            <input type="time" class="form-control" aria-describedby="basic-addon1" id="tue_end1">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">Wednesday</span>
                                            </div>
                                            <input type="time" class="form-control" aria-describedby="basic-addon1" id="wed_start1">
                                            <input type="time" class="form-control" aria-describedby="basic-addon1" id="wed_end1">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">Thurdsay</span>
                                            </div>
                                            <input type="time" class="form-control" aria-describedby="basic-addon1" id="thu_start1">
                                            <input type="time" class="form-control" aria-describedby="basic-addon1" id="thu_end1">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">Friday</span>
                                            </div>
                                            <input type="time" class="form-control" aria-describedby="basic-addon1" id="fri_start1">
                                            <input type="time" class="form-control" aria-describedby="basic-addon1" id="fri_end1">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">Saturday</span>
                                            </div>
                                            <input type="time" class="form-control" aria-describedby="basic-addon1" id="sat_start1">
                                            <input type="time" class="form-control" aria-describedby="basic-addon1" id="sat_end1">
                                        </div>

                                        <!-- Submit sa editeing na schedule -->
                                        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="myFuntcion1()">Update Schedule</button>

                                    </div>
                                </div>

                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> {% endfor %}




        <footer id="footerfooter">
            <!-- up and down button -->
            <button id="sched-up" title="Show Schedule"><img src="../../static/images/double-up-arrow.png" alt=""></button>
            <button id="sched-down" title="Hide Schedule"><img src="../../static/images/double-down-arrows.png" alt=""></button>

            <div style="overflow-x:auto;" id="datadata">
                {% for e in sched %}
                <iframe src="{{e.gSheetLink}}" style="width: 100%; height: 100%; border: 1px solid #E2435E"></iframe>{% endfor %}
            </div>

        </footer>

    </div>

    <!-- bootstrap na js: yung seperate -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script>
        console.log("chichi")

        document.getElementById("sched-up").addEventListener("click", function() {
            document.getElementById("sched-down").style.display = 'flex';
            document.getElementById("sched-up").style.display = "none";
            document.getElementById("footerfooter").style.height = "500px";
            document.getElementById('datadata').style.display = "grid";

        })

        document.getElementById("sched-down").addEventListener("click", function() {
            document.getElementById("sched-up").style.display = 'flex';
            document.getElementById("sched-down").style.display = "none";
            document.getElementById("footerfooter").style.height = "40px";
            document.getElementById('datadata').style.display = "none";
        })
    </script>


    <!-- Transcation Status -->
    {% if trans.status == 'Open' %}
    <script>
        $("#multi-step-form-container").show();
        $("#AddTransaction").hide();
    </script>

    {% elif trans.status == 'Close' %}
    <script>
        $("#multi-step-form-container").hide();
        $("#AddTransaction").show();
    </script> {% endif %}


    <!-- FOOTER NI CYRINE -->
    <script>
        $(document).ready(function() {
            // Source: https://stackoverflow.com/questions/18796221/creating-a-select-box-with-a-search-option
            //change selectboxes to selectize mode to be searchable
            $("#subject").select2();
            $("#course").select2();
            $("#yrandsec").select2();


            $("#subject1").select2();
            $("#course1").select2();
            $("#yrandsec1").select2();


            $("#subject2").select2();
            $("#course2").select2();
            $("#yrandsec2").select2();

        });
    </script>

    <!-- ADD SCHEDULE NI REJAY -->
    <script>
        function myFunction() {

            var a = document.getElementById("mon_start").value;
            var b = document.getElementById("mon_end").value;
            var c = document.getElementById("tue_start").value;
            var d = document.getElementById("tue_end").value;
            var e = document.getElementById("wed_start").value;
            var f = document.getElementById("wed_end").value;
            var g = document.getElementById("thu_start").value;
            var h = document.getElementById("thu_end").value;
            var i = document.getElementById("fri_start").value;
            var j = document.getElementById("fri_end").value;
            var k = document.getElementById("sat_start").value;
            var l = document.getElementById("sat_end").value;

            const a12hr = new Date('1970-01-01T' + a + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const b12hr = new Date('1970-01-01T' + b + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const c12hr = new Date('1970-01-01T' + c + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const d12hr = new Date('1970-01-01T' + d + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const e12hr = new Date('1970-01-01T' + e + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const f12hr = new Date('1970-01-01T' + f + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const g12hr = new Date('1970-01-01T' + g + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const h12hr = new Date('1970-01-01T' + h + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const i12hr = new Date('1970-01-01T' + i + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const j12hr = new Date('1970-01-01T' + j + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const k12hr = new Date('1970-01-01T' + k + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const l12hr = new Date('1970-01-01T' + l + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });


            var arr = [];

            // If the checkbox is checked, display the output text
            if (a && b != '') {
                arr.push('M' + ' ' + a12hr + '-' + b12hr);
            }
            if (c && d != '') {
                arr.push('T' + ' ' + c12hr + '-' + d12hr);
            }
            if (e && f != '') {
                arr.push('W' + ' ' + e12hr + '-' + f12hr);
            }
            if (g && h != '') {
                arr.push('TH' + ' ' + g12hr + '-' + h12hr);
            }
            if (i && j != '') {
                arr.push('F' + ' ' + i12hr + '-' + j12hr);
            }
            if (k && l != '') {
                arr.push('S' + ' ' + k12hr + '-' + l12hr);
            }

            document.getElementById("schedule").value = arr;
            // schedule.value = arr;

        }
    </script>

    <!-- Update Schedule ni Rejay -->
    <script>
        function myFuntcion1() {

            var a = document.getElementById("mon_start1").value;
            var b = document.getElementById("mon_end1").value;
            var c = document.getElementById("tue_start1").value;
            var d = document.getElementById("tue_end1").value;
            var e = document.getElementById("wed_start1").value;
            var f = document.getElementById("wed_end1").value;
            var g = document.getElementById("thu_start1").value;
            var h = document.getElementById("thu_end1").value;
            var i = document.getElementById("fri_start1").value;
            var j = document.getElementById("fri_end1").value;
            var k = document.getElementById("sat_start1").value;
            var l = document.getElementById("sat_end1").value;

            const a12hr = new Date('1970-01-01T' + a + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const b12hr = new Date('1970-01-01T' + b + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const c12hr = new Date('1970-01-01T' + c + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const d12hr = new Date('1970-01-01T' + d + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const e12hr = new Date('1970-01-01T' + e + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const f12hr = new Date('1970-01-01T' + f + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const g12hr = new Date('1970-01-01T' + g + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const h12hr = new Date('1970-01-01T' + h + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const i12hr = new Date('1970-01-01T' + i + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const j12hr = new Date('1970-01-01T' + j + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const k12hr = new Date('1970-01-01T' + k + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const l12hr = new Date('1970-01-01T' + l + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });


            var arr = [];

            // If the checkbox is checked, display the output text
            if (a && b != '') {
                arr.push('M' + ' ' + a12hr + '-' + b12hr);
            }
            if (c && d != '') {
                arr.push('T' + ' ' + c12hr + '-' + d12hr);
            }
            if (e && f != '') {
                arr.push('W' + ' ' + e12hr + '-' + f12hr);
            }
            if (g && h != '') {
                arr.push('TH' + ' ' + g12hr + '-' + h12hr);
            }
            if (i && j != '') {
                arr.push('F' + ' ' + i12hr + '-' + j12hr);
            }
            if (k && l != '') {
                arr.push('S' + ' ' + k12hr + '-' + l12hr);
            }

            document.getElementById("sched1").value = arr;
            // sched1.value = arr;

        }
    </script>



    <!-- Django with Jquery para magload kapag nasaang current step na si students -->

    {% if current_user.addStatus == '' %}
    <script>
        // Content Update
        document.querySelector("#step-" + 1).classList.remove("d-none");
        const formStepCircle = document.querySelector('li[step="' + 1 + '"]');
        formStepCircle.classList.remove("form-stepper-unfinished", "form-stepper-completed");
        formStepCircle.classList.add("form-stepper-active");

        // Header Update
        formStepHeader.classList.remove("form-stepper-unfinished");
        formStepHeader.classList.add("form-stepper-active", "form-stepper-completed");
    </script>

    {% elif current_user.addStatus == 'Wait for PIC Approval' %}
    <script>
        // Content Update
        document.getElementById('disable').style.pointerEvents = 'none';
        document.querySelector("#step-" + 1).classList.add("d-none");
        document.querySelector("#step-" + 2).classList.remove("d-none");
        const formStepCircle1 = document.querySelector('li[step="' + 2 + '"]');
        formStepCircle1.classList.remove("form-stepper-unfinished", "form-stepper-completed");
        formStepCircle1.classList.add("form-stepper-active");

        // Header Update
        formStepHeader1.classList.remove("form-stepper-unfinished");
        formStepHeader1.classList.add("form-stepper-active", "form-stepper-completed");
    </script>

    {% elif current_user.addStatus == 'Wait for Department Head and Asst. Director for Academic Affairs Approval' %}
    <script>
        // Content Update
        document.getElementById('disable').style.pointerEvents = 'none';
        document.getElementById('disable0').style.pointerEvents = 'none';
        document.querySelector("#step-" + 1).classList.add("d-none");
        document.querySelector("#step-" + 2).classList.add("d-none");
        document.querySelector("#step-" + 3).classList.remove("d-none");
        const formStepCircle2 = document.querySelector('li[step="' + 3 + '"]');
        formStepCircle2.classList.remove("form-stepper-unfinished", "form-stepper-completed");
        formStepCircle2.classList.add("form-stepper-active");

        // Header Update
        const formStepHeader2 = document.querySelector('li[step="' + 2 + '"]');
        formStepHeader2.classList.remove("form-stepper-unfinished");
        formStepHeader2.classList.add("form-stepper-active");
        const formStepHeader3 = document.querySelector('li[step="' + 3 + '"]');
        formStepHeader3.classList.remove("form-stepper-unfinished");
        formStepHeader3.classList.add("form-stepper-active");
    </script>
    {% endif %}




    <!-- Multiform javascript -->
    <script>
        /**
         * Define a function to navigate betweens form steps.
         * It accepts one parameter. That is - step number.
         */
        const navigateToFormStep = (stepNumber) => {
            /**
             * Hide all form steps.
             */
            document.querySelectorAll(".form-step").forEach((formStepElement) => {
                formStepElement.classList.add("d-none");
            });
            /**
             * Mark all form steps as unfinished.
             */
            document.querySelectorAll(".form-stepper-list").forEach((formStepHeader) => {
                formStepHeader.classList.add("form-stepper-unfinished");
                formStepHeader.classList.remove("form-stepper-active", "form-stepper-completed");
            });
            /**
             * Show the current form step (as passed to the function).
             */
            document.querySelector("#step-" + stepNumber).classList.remove("d-none");
            /**
             * Select the form step circle (progress bar).
             */
            const formStepCircle = document.querySelector('li[step="' + stepNumber + '"]');
            /**
             * Mark the current form step as active.
             */
            formStepCircle.classList.remove("form-stepper-unfinished", "form-stepper-completed");
            formStepCircle.classList.add("form-stepper-active");
            /**
             * Loop through each form step circles.
             * This loop will continue up to the current step number.
             * Example: If the current step is 3,
             * then the loop will perform operations for step 1 and 2.
             */
            for (let index = 0; index < stepNumber; index++) {
                /**
                 * Select the form step circle (progress bar).
                 */
                const formStepCircle = document.querySelector('li[step="' + index + '"]');
                /**
                 * Check if the element exist. If yes, then proceed.
                 */
                if (formStepCircle) {
                    /**
                     * Mark the form step as completed.
                     */
                    formStepCircle.classList.remove("form-stepper-unfinished", "form-stepper-active");
                    formStepCircle.classList.add("form-stepper-completed");
                }
            }
        };
        /**
         * Select all form navigation buttons, and loop through them.
         */
        document.querySelectorAll(".btn-navigate-form-step").forEach((formNavigationBtn) => {
            /**
             * Add a click event listener to the button.
             */
            formNavigationBtn.addEventListener("click", () => {
                /**
                 * Get the value of the step.
                 */
                const stepNumber = parseInt(formNavigationBtn.getAttribute("step_number"));
                /**
                 * Call the function to navigate to the target form step.
                 */
                navigateToFormStep(stepNumber);
            });
        });
    </script>


    <!-- Automatic Upload of images -->
    <script>
        $('#gradesfile').change(function() {
            $('#gradesfileform').submit();
        });
    </script>


    <!-- Messages -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %} {% for message in messages %} {% if message.tags %}
    <script>
        Swal.fire({
            text: '{{ message }}',
        })
    </script> {% endif %} {% endfor %} {% endif %}






    <!-- HOUR WEEKLY SCHEDULE TESTING -->


    {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{%static 'js/jquery.schedule.js'%}"></script>

    {% for i in req %}
    <script>
        $(function() {



            // Define Variable
            var M = 2;

            function lala(response) {
                res = '{{i.sched}}'.slice(0, 1)
                if (res == 'M') {
                    response = 0
                }
                return (response)
            }
            $('#schedule5').jqs({


                mode: 'read',
                daysList: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
                hour: 12,
                periodDuration: 15,
                periodOptions: false,

                data: [{

                    day: lala(),

                    periods: [
                        // ['{{i.sched}}'.slice(2, 10), '{{i.sched}}'.slice(11, 17)],
                        ['{{i.pic_is_approve}}', '{{i.pic_remark}}']
                    ]
                }],

            });


        });
    </script>
    {% endfor %} {% endcomment %}

</body>

</html>