{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TUP-ASSIST </title>


    <!-- DROPDOWN BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

    <!-- css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/s_adding.css'%}">


    <!-- icon sa bar tab and fonts -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../../static/images/tuplogo.png" type="image/x-icon">
</head>

<body>
    <nav class="navbar navbar-expand-lg" id="navbarnavbar">
        <div class="navbarLagayan">
            <img src="../../static/images/tuplogo.png" alt="TUPLogo.png" width="30" height="30">
            <a class="nav-link" href="{%url 'TupAssistApp:s_adding'%}">Technological University of the Philippines - <span style="color: #E2435E; font-weight: 500;"> Assist</span></a>
            <div class="lagayanNgButton">
                <button class="navbar-toggler navbar-light" type="button" style="background-color: transparent;" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">

            <form class="d-flex">
                <ul class="navbar-nav mr-auto" id="center">
                    <li class="nav-item active">
                        <a class="nav-link" href="{%url 'TupAssistApp:s_adding'%}" id="adding">Adding<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:s_dropping'%}" id="">Dropping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:s_transferring'%}" id="">Transfer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:logout'%}" id="logoutbutton">Logout</a>
                    </li>
                </ul>
            </form>
        </div>
    </nav>



    <div class="bg-container">
        <div class="bodybody">

            <div class="boxes">

                <div class="studentDetails">
                    <div class="innerStudentDetails">
                        <div class="lagayan1">
                            <p id="p1">Name:</p>
                            <p style="text-align: end;">{{ current_user.first_name }} {{ current_user.last_name }}</p>
                        </div>
                        <div class="lagayan2">
                            <p id="p1">Student Number:</p>
                            <p style="text-align: end;">{{ current_user.studID }}</p>
                        </div>
                        <div class="lagayan3">
                            <p id="p1">Year Course and Section:</p>
                            <p style="text-align: end;">{{ current_user.course }}-{{ current_user.yrandsec }}</p>
                        </div>
                    </div>
                </div>
                <div class="progressbox">
                    <div class="lagayanNgStatus">
                        <p id="p1">Status:</p>
                        <p style="text-align: center;">{{ current_user.addStatus }}</p>
                    </div>
                    <div class="isapanglagayan"></div>
                </div>
            </div>


            <div class="dividerLangs"></div>

            <div style="overflow-x:auto;" class="innerBody">

                <div>
                    <h1>Add Subject Transcation Form</h1>
                    <div id="multi-step-form-container">
                        <!-- Form Steps / Progress Bar -->
                        <ul class="form-stepper form-stepper-horizontal text-center mx-auto pl-0">
                            <!-- Step 1 -->
                            <li class="form-stepper-active text-center form-stepper-list" step="1">
                                <a class="mx-2">
                                    <span class="form-stepper-circle">
                                        <span>1</span>
                                    </span>
                                    <div class="label">Subject to be taken</div>
                                </a>
                            </li>
                            <!-- Step 2 -->
                            <li class="form-stepper-unfinished text-center form-stepper-list" step="2">
                                <a class="mx-2">
                                    <span class="form-stepper-circle text-muted">
                                        <span>2</span>
                                    </span>
                                    <div class="label text-muted">Typing of Schedule</div>
                                </a>
                            </li>
                            <!-- Step 3 -->
                            <li class="form-stepper-unfinished text-center form-stepper-list" step="3">
                                <a class="mx-2">
                                    <span class="form-stepper-circle text-muted">
                                        <span>3</span>
                                    </span>
                                    <div class="label text-muted">Requests Details</div>
                                </a>
                            </li>
                        </ul>

                        <!-- Step Wise Form Content -->
                        <!-- <form id="userAccountSetupForm" name="userAccountSetupForm" enctype="multipart/form-data" method="POST"> -->
                        <!-- Step 1 Content -->
                        <section id="step-1" class="form-step">
                            {% if current_user.addStatus != '' %}
                            <div class="lagayanngfile">
                                <div class="alert alert-success" role="alert">
                                    Notice: You already submitted your grades and requested subject to be taken. Proceed to step 2 now, wait kung i-approve ang na-request or dagdagan ni PIC.
                                </div>
                            </div>
                            {% endif %}

                            <h2 class="font-normal">Subject to be taken</h2>
                            <!-- Step 1 input fields -->
                            <div class="mt-3" id="step1">
                                {% if current_user.upload != '' %}
                                <div class="lagayanngfile">
                                    Grades: <a href="#" class="alert-link" onclick="window.open('{{ current_user.upload.url }}');">{{ current_user.upload }}</a> <a href="{%url 'TupAssistApp:delupload'%}"><i class="bi bi-x-circle" style="margin-left: 5%; color: #E2435E"></i></a>
                                </div>
                                {% endif %} {% if current_user.upload == '' %}
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addFile">
                                    Upload your PDF compile of your previous grades here.
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="addFile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Upload a PDF FIle of your compiled previous grades from ERS.</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form-inline" id="gradesfileform" method="post" enctype="multipart/form-data" action="/upload">
                                                    {% csrf_token %}
                                                    <div class="image-upload">
                                                        <label for="gradesfile">
                                                      <img src="../../static/images/icons8-pdf-40.png"/>
                                                    </label>
                                                        <input type="file" accept="application/pdf" name="gradesfile" id="gradesfile" required>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}



                                <!--HTML code to display data in tabular format-->
                                <form method="post" action="/s_step1_submit">
                                    {% csrf_token %}
                                    <table class="table table-bordered">
                                        <thead>
                                            <th>NO.</th>
                                            <th>SUBJECT</th>
                                            <th>SECTION</th>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td hidden><input type="text" class="form-control" name="studID" value="{{current_user.studID}}"></td>
                                                <td><input type="text" class="form-control" name="sub1"></td>
                                                <td><input type="text" class="form-control" name="sec1"></td>

                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td><input type="text" class="form-control" name="sub2"></td>
                                                <td><input type="text" class="form-control" name="sec2"></td>

                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td><input type="text" class="form-control" name="sub3"></td>
                                                <td><input type="text" class="form-control" name="sec3"></td>

                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td><input type="text" class="form-control" name="sub4"></td>
                                                <td><input type="text" class="form-control" name="sec4"></td>

                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td><input type="text" class="form-control" name="sub5"></td>
                                                <td><input type="text" class="form-control" name="sec5"></td>

                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td><input type="text" class="form-control" name="sub6"></td>
                                                <td><input type="text" class="form-control" name="sec6"></td>

                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td><input type="text" class="form-control" name="sub7"></td>
                                                <td><input type="text" class="form-control" name="sec7"></td>

                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td><input type="text" class="form-control" name="sub8"></td>
                                                <td><input type="text" class="form-control" name="sec8"></td>

                                            </tr>
                                            <tr>
                                                <td>9</td>
                                                <td><input type="text" class="form-control" name="sub9"></td>
                                                <td><input type="text" class="form-control" name="sec9"></td>

                                            </tr>
                                            <tr>
                                                <td>10</td>
                                                <td><input type="text" class="form-control" name="sub10"></td>
                                                <td><input type="text" class="form-control" name="sec10"></td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    {% if current_user.addStatus == '' %}
                                    <button type="submit" class="btn btn-primary">Submit</button>{% endif %}
                                </form>


                            </div>
                            <div class="mt-3">
                                {% if current_user.addStatus != '' %}
                                <button class="button btn-navigate-form-step" type="button" step_number="2">Next</button> {% endif %}
                            </div>
                        </section>





                        <!-- Step 2 Content, default hidden on page load. -->
                        <section id="step-2" class="form-step d-none">
                            {% if current_user.addStatus != 'PIC Offer Subject: Student may plot schedule now.' %}
                            <div class="alert alert-danger" role="alert">
                                Notice: Hintayin ang Program-in-charge i-approve ang iyong add request. Ang input ay nakadisable kapag wala pang notice ni PIC.
                            </div> {% endif %}

                            <h2 class="font-normal">Typing of Schedule</h2>
                            <!-- Step 2 input fields -->
                            <div class="mt-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <th>SUBJECT</th>
                                        <th>SECTION</th>
                                        <th colspan="2">DAY AND TIME</th>
                                        <th>APPROVE</th>
                                        <th>REMARK</th>
                                    </thead>

                                    <tbody>
                                        {% for i in req %}
                                        <tr>
                                            <td hidden><input type="text" class="form-control" value="{{current_user.studID}}" readonly></td>
                                            <td><input type="text" class="form-control" value="{{i.subject}}" readonly></td>
                                            <td><input type="text" class="form-control" value="{{i.section}}" readonly></td>
                                            <td><textarea class="form-control" placeholder="{{i.sched}}" readonly></textarea></td>
                                            <td><a class="btn btn-primary" data-toggle="modal" data-target="#editSub{{i.id}}">Edit</a></td>
                                            <td><input type="text" class="form-control" value="" readonly></td>
                                            <td><input type="text" class="form-control" value="" readonly></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                                <!-- Edit Subject Modal -->
                                {% for i in req %}
                                <div class="modal fade" id="editSub{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Edit Section and Schedule</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form class="form" method="post" action="s_adding_edit_sched">
                                                {% csrf_token %}

                                                <div class="modal-body">
                                                    <div class="form-group" hidden>
                                                        <label for="id">Subject</label>
                                                        <input type="text" class="form-control" id="id" name="id" value="{{i.id}}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="subject">Subject</label>
                                                        <input type="text" class="form-control" id="subject" name="subject" value="{{i.subject}}" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="section">Section</label>
                                                        <input type="text" class="form-control" id="section" name="section" value="{{i.section}}">
                                                    </div>

                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">Monday</span>
                                                        </div>
                                                        <input type="text" class="form-control" aria-describedby="basic-addon1" name="M" value="M" hidden>
                                                        <input type="time" class="form-control" aria-describedby="basic-addon1" name="mon_start">
                                                        <input type="time" class="form-control" aria-describedby="basic-addon1" name="mon_end">
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">Tuesday</span>
                                                        </div>
                                                        <input type="text" class="form-control" aria-describedby="basic-addon1" name="T" value="T" hidden>
                                                        <input type="time" class="form-control" aria-describedby="basic-addon1" name="tue_start">
                                                        <input type="time" class="form-control" aria-describedby="basic-addon1" name="tue_end">
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">Wednesday</span>
                                                        </div>
                                                        <input type="text" class="form-control" aria-describedby="basic-addon1" name="W" value="W" hidden>
                                                        <input type="time" class="form-control" aria-describedby="basic-addon1" name="wed_start">
                                                        <input type="time" class="form-control" aria-describedby="basic-addon1" name="wed_end">
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">Thurdsay</span>
                                                        </div>
                                                        <input type="text" class="form-control" aria-describedby="basic-addon1" name="TH" value="TH" hidden>
                                                        <input type="time" class="form-control" aria-describedby="basic-addon1" name="thu_start">
                                                        <input type="time" class="form-control" aria-describedby="basic-addon1" name="thu_end">
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">Friday</span>
                                                        </div>
                                                        <input type="text" class="form-control" aria-describedby="basic-addon1" name="F" value="F" hidden>
                                                        <input type="time" class="form-control" aria-describedby="basic-addon1" name="fri_start">
                                                        <input type="time" class="form-control" aria-describedby="basic-addon1" name="fri_end">
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">Saturday</span>
                                                        </div>
                                                        <input type="text" class="form-control" aria-describedby="basic-addon1" name="S" value="S" hidden>
                                                        <input type="time" class="form-control" aria-describedby="basic-addon1" name="sat_start">
                                                        <input type="time" class="form-control" aria-describedby="basic-addon1" name="sat_end">
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            {% if current_user.addStatus == 'PIC Offer Subject: Student may plot schedule now.' %}
                            <div class="mt-3" style="display: flex; justify-content: end;">
                                <form action="s_step2_submit" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>{% endif %}

                            <br>

                            <div class="mt-3">
                                <button class="button btn-navigate-form-step" type="button" step_number="1">Prev</button> {% if current_user.addStatus == 'Requested: Wait for PIC Approval' %}
                                <button class="button btn-navigate-form-step" type="button" step_number="3">Next</button> {% endif %}
                            </div>
                        </section>

                        <!-- Step 3 Content, default hidden on page load. -->
                        <section id="step-3" class="form-step d-none">
                            <h2 class="font-normal">Requests Details</h2>
                            <!-- Step 3 input fields -->
                            <div class="mt-3">
                                Step 3 input fields goes here..
                            </div>
                            <div class="mt-3">
                                <button class="button btn-navigate-form-step" type="button" step_number="2">Prev</button>
                                <button class="button submit-btn" type="submit">Save</button>
                            </div>
                        </section>
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>




    <footer id="footerfooter">
        <!-- up and down button -->
        <button id="sched-up" title="Show Schedule"><img src="../../static/images/double-up-arrow.png" alt=""></button>
        <button id="sched-down" title="Hide Schedule"><img src="../../static/images/double-down-arrows.png" alt=""></button>

        <div style="overflow-x:auto;" id="datadata">
            {% for e in sched %}
            <iframe src="{{e.gSheetLink}}" style="width: 100%; height: 100%; border: 1px solid #E2435E"></iframe>{% endfor %}
        </div>

    </footer>



    <!-- bootstrap na js: yung seperate -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script>
        console.log("chichi")

        document.getElementById("sched-up").addEventListener("click", function() {
            document.getElementById("sched-down").style.display = 'flex';
            document.getElementById("sched-up").style.display = "none";
            document.getElementById("footerfooter").style.height = "500px";
            document.getElementById('datadata').style.display = "grid";

        })

        document.getElementById("sched-down").addEventListener("click", function() {
            document.getElementById("sched-up").style.display = 'flex';
            document.getElementById("sched-down").style.display = "none";
            document.getElementById("footerfooter").style.height = "40px";
            document.getElementById('datadata').style.display = "none";
        })
    </script>

    <!--DROPDOWN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function() {
            // Source: https://stackoverflow.com/questions/18796221/creating-a-select-box-with-a-search-option
            //change selectboxes to selectize mode to be searchable
            $("#subject").select2();
            $("#course").select2();
            $("#yrandsec").select2();


            $("#subject1").select2();
            $("#course1").select2();
            $("#yrandsec1").select2();


            $("#subject2").select2();
            $("#course2").select2();
            $("#yrandsec2").select2();

        });
    </script>



    <!-- Django with Jquery para magload kapag nasaang current step na si students -->
    {% if current_user.addStatus != '' %}
    <script>
        document.querySelector("#step-" + 1).classList.add("d-none");
        document.querySelector("#step-" + 2).classList.remove("d-none");
        const formStepCircle = document.querySelector('li[step="' + 2 + '"]');
        formStepCircle.classList.remove("form-stepper-unfinished", "form-stepper-completed");
        formStepCircle.classList.add("form-stepper-active");
    </script>
    {% endif %} {% if current_user.addStatus == 'Requested: Wait for PIC Approval' %}
    <script>
        document.querySelector("#step-" + 1).classList.add("d-none");
        document.querySelector("#step-" + 2).classList.add("d-none");
        document.querySelector("#step-" + 3).classList.remove("d-none");
        const formStepCircle = document.querySelector('li[step="' + 3 + '"]');
        formStepCircle.classList.remove("form-stepper-unfinished", "form-stepper-completed");
        formStepCircle.classList.add("form-stepper-active");
    </script>
    {% endif %} Requested: Wait for PIC Approval


    <!-- Multiform javascript -->
    <script>
        /**
         * Define a function to navigate betweens form steps.
         * It accepts one parameter. That is - step number.
         */
        const navigateToFormStep = (stepNumber) => {
            /**
             * Hide all form steps.
             */
            document.querySelectorAll(".form-step").forEach((formStepElement) => {
                formStepElement.classList.add("d-none");
            });
            /**
             * Mark all form steps as unfinished.
             */
            document.querySelectorAll(".form-stepper-list").forEach((formStepHeader) => {
                formStepHeader.classList.add("form-stepper-unfinished");
                formStepHeader.classList.remove("form-stepper-active", "form-stepper-completed");
            });
            /**
             * Show the current form step (as passed to the function).
             */
            document.querySelector("#step-" + stepNumber).classList.remove("d-none");
            /**
             * Select the form step circle (progress bar).
             */
            const formStepCircle = document.querySelector('li[step="' + stepNumber + '"]');
            /**
             * Mark the current form step as active.
             */
            formStepCircle.classList.remove("form-stepper-unfinished", "form-stepper-completed");
            formStepCircle.classList.add("form-stepper-active");
            /**
             * Loop through each form step circles.
             * This loop will continue up to the current step number.
             * Example: If the current step is 3,
             * then the loop will perform operations for step 1 and 2.
             */
            for (let index = 0; index < stepNumber; index++) {
                /**
                 * Select the form step circle (progress bar).
                 */
                const formStepCircle = document.querySelector('li[step="' + index + '"]');
                /**
                 * Check if the element exist. If yes, then proceed.
                 */
                if (formStepCircle) {
                    /**
                     * Mark the form step as completed.
                     */
                    formStepCircle.classList.remove("form-stepper-unfinished", "form-stepper-active");
                    formStepCircle.classList.add("form-stepper-completed");
                }
            }
        };
        /**
         * Select all form navigation buttons, and loop through them.
         */
        document.querySelectorAll(".btn-navigate-form-step").forEach((formNavigationBtn) => {
            /**
             * Add a click event listener to the button.
             */
            formNavigationBtn.addEventListener("click", () => {
                /**
                 * Get the value of the step.
                 */
                const stepNumber = parseInt(formNavigationBtn.getAttribute("step_number"));
                /**
                 * Call the function to navigate to the target form step.
                 */
                navigateToFormStep(stepNumber);
            });
        });
    </script>


    <!-- Automatic Upload of images -->
    <script>
        $('#gradesfile').change(function() {
            $('#gradesfileform').submit();
        });
    </script>


    <!-- Messages -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %} {% for message in messages %} {% if message.tags %}
    <script>
        Swal.fire({
            text: '{{ message }}',
        })
    </script> {% endif %} {% endfor %} {% endif %}



</body>

</html>