{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TUP-ASSIST </title>


    <!-- DROPDOWN BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

    <!-- css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/s_dropping.css'%}">


    <!-- icon sa bar tab and fonts -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../../static/images/tuplogo.png" type="image/x-icon">
</head>

<body>
    <nav class="navbar navbar-expand-lg" id="navbarnavbar">
        <div class="navbarLagayan">
            <img src="../../static/images/tuplogo.png" alt="TUPLogo.png" width="30" height="30">
            <a class="nav-link" href="{%url 'TupAssistApp:s_dropping'%}">Technological University of the Philippines - <span style="color: #E2435E; font-weight: 500;"> Assist</span></a>
            <div class="lagayanNgButton">
                <button class="navbar-toggler navbar-light" type="button" style="background-color: transparent;" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">

            <form class="d-flex">
                <ul class="navbar-nav mr-auto" id="center">
                    <li class="nav-item active">
                        <a class="nav-link" href="{%url 'TupAssistApp:s_profile'%}" id="profile">Profile</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{%url 'TupAssistApp:s_adding'%}" id="">Adding<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:s_dropping'%}" id="dropping">Dropping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:s_transferring'%}" id="">Transfer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:logout'%}" id="logoutbutton">Logout</a>
                    </li>
                </ul>
            </form>
        </div>
    </nav>



    <div class="bg-container">
        <div class="bodybody">

            <div class="boxes">

                <div class="studentDetails">
                    <div class="innerStudentDetails">
                        <div class="lagayan1">
                            <p id="p1">Name:</p>
                            <p style="text-align: end;">{{ current_user.first_name }} {{ current_user.last_name }}</p>
                        </div>
                        <div class="lagayan2">
                            <p id="p1">Student Number:</p>
                            <p style="text-align: end;">{{ current_user.studID }}</p>
                        </div>
                        <div class="lagayan3">
                            <p id="p1">Course and Section:</p>
                            <p style="text-align: end;">{{ current_user.course }}-{{ current_user.year }}{{ current_user.section }}</p>
                        </div>
                    </div>
                </div>
                <div class="progressbox">
                    <div class="lagayanNgStatus">
                        <p style="color: black; font-weight: bold;">Status:</p>
                        <p style="text-align: center;">{{ current_user.dropStatus }}</p>
                    </div>
                    <div class="isapanglagayan"></div>
                </div>

            </div>


            <div class="dividerLangs"></div>

            <div style="overflow-x:auto;" class="innerBody">

                {% if current_user.course == '' or current_user.course == None or current_user.section == '' or current_user.section == None or current_user.year == None or current_user.year == '' or current_user.studID == None or current_user.studID == '' %}
                <div class="alert alert-danger" role="alert">
                    Notice: You can't proceed to in Drop Subject Transaction if your Personal Information is not complete.
                </div>{% endif %}

                <div>

                    <!-- Transaction Status -->
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="school_year">School Year</label>
                            <input type="number" class="form-control" id="school_year" value="{{trans.school_year}}" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="semester">Semester</label>
                            <input type="number" class="form-control" id="semester" value="{{trans.semester}}" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="semester">Status</label>
                            <input type="text" class="form-control" id="semester" value="{{trans.status}}" readonly>
                        </div>
                    </div>

                    <div class="alert alert-danger" role="alert" id="DropTransaction">
                        Notice: Dropping Transaction is Closed.
                    </div>

                    <h1>Drop Subject Transcation Form</h1>

                    {% if current_user.course != '' and current_user.course != None and current_user.section != '' and current_user.section != None and current_user.year != None and current_user.year != '' and current_user.studID != None and current_user.studID != '' %}
                    <div id="multi-step-form-container">
                        <!-- Form Steps / Progress Bar -->
                        <ul class="form-stepper form-stepper-horizontal text-center mx-auto pl-0">
                            <!-- Step 1 -->
                            <li class="form-stepper-active text-center form-stepper-list" step="1">
                                <a class="mx-2">
                                    <span class="form-stepper-circle">
                                        <span>1</span>
                                    </span>
                                    <div class="label">Subject to be drop</div>
                                </a>
                            </li>
                            <!-- Step 2 -->
                            <li class="form-stepper-unfinished text-center form-stepper-list" step="2">
                                <a class="mx-2">
                                    <span class="form-stepper-circle text-muted">
                                        <span>2</span>
                                    </span>
                                    <div class="label text-muted">Wait for Teacher Approval</div>
                                </a>
                            </li>
                            <!-- Step 3 -->
                            <li class="form-stepper-unfinished text-center form-stepper-list" step="3">
                                <a class="mx-2">
                                    <span class="form-stepper-circle text-muted">
                                        <span>3</span>
                                    </span>
                                    <div class="label text-muted">Wait for Department Head and Assist. Director of Academic Affairs Approval</div>
                                </a>
                            </li>
                        </ul>


                        <!-- Step 1 Content -->
                        <section id="step-1" class="form-step">
                            <h2 class="font-normal">Subject to be drop</h2>
                            <!-- Step 1 input fields -->
                            <div class="mt-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col" width="100px">ACTION</th>
                                            <th scope="col">SUBJECT CODE</th>
                                            <th scope="col">DESCRIPTION</th>
                                            <th scope="col">SCHEDULE</th>
                                            <th scope="col">SECTION</th>
                                            <th scope="col">TEACHER'S EMAIL</th>
                                        </tr>
                                    </thead>
                                    <form action="/s_drop_sub" method="post">
                                        {% csrf_token %}
                                        <tbody>
                                            {% for i in subs %}
                                            <tr>
                                                <td ><input type="checkbox" id="check{{forloop.counter}}"></td>
                                                <td><input type="text" class="form-control" id="subject" name="subject{{forloop.counter}}" value="{{i.course}}{{i.year}}{{i.semester}}{{i.shop}}{{i.is_lab}}" readonly></td>
                                                <td>{{i.description}}</td>
                                                <td><input type="text" class="form-control" id="schedule{{forloop.counter}}" name="schedule{{forloop.counter}}"  disabled></td>
                                                <td><input type="text" class="form-control" id="section{{forloop.counter}}" name="section{{forloop.counter}}"  disabled></td>
                                                <td><input type="email" class="form-control" id="email{{forloop.counter}}" name="email{{forloop.counter}}"  disabled></td>
                                            </tr>
                                            {% endfor %}
                                            <tr>
                                                <td><input type="checkbox" id="checkAll"> Check All</td>
                                                <td colspan="5">
                                                    <label for="reason">Reason:</label>
                                                    <textarea class="form-control" id="reason" name="reason" required></textarea>
                                                </td>
                                                
                                            </tr>
                                            <tr>
                                                <td colspan="7"><button type="submit" class="btn btn-danger btn-lg btn-block" id="drop" disabled>Drop</button></td>
                                            </tr>
                                        </tbody>
                                    </form>
                                </table>
                            <div class="mt-3">
                                {% if current_user.dropStatus == '' %}
                                <button class="button btn-navigate-form-step" type="button" step_number="2">Next</button>{% endif %}
                            </div>
                        </section>

                        <!-- Step 2 Content, default hidden on page load. -->
                        <section id="step-2" class="form-step d-none">
                            <h2 class="font-normal">Wait for Teacher Approval</h2>
                            <!-- Step 2 input fields -->
                            <div class="mt-3">
                                Step 2 input fields goes here..
                            </div>
                            <div class="mt-3">
                                <button class="button btn-navigate-form-step" type="button" step_number="1">Prev</button>
                                <button class="button btn-navigate-form-step" type="button" step_number="3">Next</button>
                            </div>
                        </section>

                        <!-- Step 3 Content, default hidden on page load. -->
                        <section id="step-3" class="form-step d-none">
                            <h2 class="font-normal">Wait for Department Head and Assist. Director of Academic Affairs Approval</h2>
                            <!-- Step 3 input fields -->
                            <div class="mt-3">
                                Step 3 input fields goes here..
                            </div>
                            <div class="mt-3">
                                <button class="button btn-navigate-form-step" type="button" step_number="2">Prev</button>
                            </div>
                        </section>
                    </div>{% endif %}
                </div>

            </div>
        </div>
    </div>




    <footer id="footerfooter">
        <!-- up and down button -->
        <button id="sched-up" title="Show Schedule"><img src="../../static/images/double-up-arrow.png" alt=""></button>
        <button id="sched-down" title="Hide Schedule"><img src="../../static/images/double-down-arrows.png" alt=""></button>

        <div style="overflow-x:auto;" id="datadata">
            <iframe src="{{sched.gSheetLink}}" style="width: 100%; height: 100%; border: 1px solid #E2435E"></iframe>
        </div>

    </footer>






    <!-- bootstrap na js: yung seperate -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script>
        console.log("chichi")

        document.getElementById("sched-up").addEventListener("click", function() {
            document.getElementById("sched-down").style.display = 'flex';
            document.getElementById("sched-up").style.display = "none";
            document.getElementById("footerfooter").style.height = "500px";
            document.getElementById('datadata').style.display = "grid";

        })

        document.getElementById("sched-down").addEventListener("click", function() {
            document.getElementById("sched-up").style.display = 'flex';
            document.getElementById("sched-down").style.display = "none";
            document.getElementById("footerfooter").style.height = "40px";
            document.getElementById('datadata').style.display = "none";
        })
    </script>

    <!--DROPDOWN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>


    <!-- Checkbox ni Rejay -->
    {% for i in subs %}
    <script>
        document.getElementById('check{{forloop.counter}}').onchange = function() {
            document.getElementById('section{{forloop.counter}}').disabled = !this.checked;
            document.getElementById('schedule{{forloop.counter}}').disabled = !this.checked;
            document.getElementById('email{{forloop.counter}}').disabled = !this.checked;
            document.getElementById('section{{forloop.counter}}').required = true;
            document.getElementById('schedule{{forloop.counter}}').required = true;
            document.getElementById('email{{forloop.counter}}').required = true;
            document.getElementById('drop').disabled = !this.checked;
        };

        $('#checkAll').click(function () {    
            $('input:checkbox').prop('checked', this.checked); 
            $('#section{{forloop.counter}}').prop('disabled', !this.checked);
            $('#schedule{{forloop.counter}}').prop('disabled', !this.checked);
            $('#email{{forloop.counter}}').prop('disabled', !this.checked);
            document.getElementById('section{{forloop.counter}}').required = true;
            document.getElementById('schedule{{forloop.counter}}').required = true;
            document.getElementById('email{{forloop.counter}}').required = true;
            document.getElementById('drop').disabled = !this.checked;
        });

    </script>
    {% endfor %}


    <!-- Messages -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %} {% for message in messages %} {% if message.tags %}
    <script>
        Swal.fire({
            text: '{{ message }}',
        })
    </script> {% endif %} {% endfor %} {% endif %}



    <!-- Transcation Status -->
    {% if trans.status == 'Open' %}
    <script>
        $("#multi-step-form-container").show();
        $("#DropTransaction").hide();
    </script>

    {% elif trans.status == 'Close' %}
    <script>
        $("#multi-step-form-container").hide();
        $("#DropTransaction").show();
    </script> {% endif %}



    <!-- Dropdown Function -->
    <script>
        $(document).ready(function() {
            // Source: https://stackoverflow.com/questions/18796221/creating-a-select-box-with-a-search-option
            //change selectboxes to selectize mode to be searchable
            $("#subject").select2();
            $("#course").select2();
            $("#yrandsec").select2();


            $("#subject1").select2();
            $("#course1").select2();
            $("#yrandsec1").select2();


            $("#subject2").select2();
            $("#course2").select2();
            $("#yrandsec2").select2();

        });
    </script>


    <!-- Multiform javascript -->
    <script>
        /**
         * Define a function to navigate betweens form steps.
         * It accepts one parameter. That is - step number.
         */
        const navigateToFormStep = (stepNumber) => {
            /**
             * Hide all form steps.
             */
            document.querySelectorAll(".form-step").forEach((formStepElement) => {
                formStepElement.classList.add("d-none");
            });
            /**
             * Mark all form steps as unfinished.
             */
            document.querySelectorAll(".form-stepper-list").forEach((formStepHeader) => {
                formStepHeader.classList.add("form-stepper-unfinished");
                formStepHeader.classList.remove("form-stepper-active", "form-stepper-completed");
            });
            /**
             * Show the current form step (as passed to the function).
             */
            document.querySelector("#step-" + stepNumber).classList.remove("d-none");
            /**
             * Select the form step circle (progress bar).
             */
            const formStepCircle = document.querySelector('li[step="' + stepNumber + '"]');
            /**
             * Mark the current form step as active.
             */
            formStepCircle.classList.remove("form-stepper-unfinished", "form-stepper-completed");
            formStepCircle.classList.add("form-stepper-active");
            /**
             * Loop through each form step circles.
             * This loop will continue up to the current step number.
             * Example: If the current step is 3,
             * then the loop will perform operations for step 1 and 2.
             */
            for (let index = 0; index < stepNumber; index++) {
                /**
                 * Select the form step circle (progress bar).
                 */
                const formStepCircle = document.querySelector('li[step="' + index + '"]');
                /**
                 * Check if the element exist. If yes, then proceed.
                 */
                if (formStepCircle) {
                    /**
                     * Mark the form step as completed.
                     */
                    formStepCircle.classList.remove("form-stepper-unfinished", "form-stepper-active");
                    formStepCircle.classList.add("form-stepper-completed");
                }
            }
        };
        /**
         * Select all form navigation buttons, and loop through them.
         */
        document.querySelectorAll(".btn-navigate-form-step").forEach((formNavigationBtn) => {
            /**
             * Add a click event listener to the button.
             */
            formNavigationBtn.addEventListener("click", () => {
                /**
                 * Get the value of the step.
                 */
                const stepNumber = parseInt(formNavigationBtn.getAttribute("step_number"));
                /**
                 * Call the function to navigate to the target form step.
                 */
                navigateToFormStep(stepNumber);
            });
        });
    </script>


    <script>
        $('#gradesfile').change(function() {
            $('#gradesfileform').submit();
        });
    </script>



</body>

</html>