{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TUP-ASSIST </title>


    <!-- DROPDOWN BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

    <!-- css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/s_transferring.css'%}">


    <!-- icon sa bar tab and fonts -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{%static 'images/tuplogo.png'%}" type="image/x-icon">
</head>

<body>
    <nav class="navbar navbar-expand-lg" id="navbarnavbar">
        <div class="navbarLagayan">
            <img src="{%static 'images/tuplogo.png'%}" alt="TUPLogo.png" width="30" height="30">
            <a class="nav-link" href="{%url 'TupAssistApp:s_dropping'%}">Technological University of the Philippines - <span style="color: #E2435E; font-weight: 500;"> Assist</span></a>
            <div class="lagayanNgButton">
                <button class="navbar-toggler navbar-light" type="button" style="background-color: transparent;" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">

            <form class="d-flex">
                <ul class="navbar-nav mr-auto" id="center">
                    <li class="nav-item active">
                        <a class="nav-link" href="{%url 'TupAssistApp:s_profile'%}" id="profile">Profile</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{%url 'TupAssistApp:s_adding'%}" id="">Adding<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:s_dropping'%}" id="">Dropping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:s_transferring'%}" id="transferring">Transfer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'TupAssistApp:logout'%}" id="logoutbutton">Logout</a>
                    </li>
                </ul>
            </form>
        </div>
    </nav>



    <div class="bg-container">
        <div class="bodybody">

            <div class="boxes">

                <div class="studentDetails">
                    <div class="innerStudentDetails">
                        <div class="lagayan1">
                            <p id="p1">Name:</p>
                            <p style="text-align: end;">{{ current_user.first_name }} {{ current_user.last_name }}</p>
                        </div>
                        <div class="lagayan2">
                            <p id="p1">Student Number:</p>
                            <p style="text-align: end;">{{ current_user.studID }}</p>
                        </div>
                        <div class="lagayan3">
                            <p id="p1">Year Course and Section:</p>
                            <p style="text-align: end;">{{ current_user.course }}-{{ current_user.year }}{{ current_user.section }}</p>
                        </div>
                    </div>
                </div>
                <div class="progressbox">
                    <div class="lagayanNgStatus">
                        <p id="p1">Status:</p>
                        <p style="text-align: center;">{{ current_user.transferStatus }}</p>
                    </div>
                    <div class="isapanglagayan">
                        <a role="button" onclick="createPDF()"><img src="{%static 'images/print_pdf.png'%}" alt="print_pdf"></a>
                    </div>
                </div>

            </div>

            <div class="dividerLangs"></div>

            <div style="overflow-x:auto;" class="innerBody">

                {% if current_user.course == '' or current_user.course == None or current_user.section == '' or current_user.section == None or current_user.year == None or current_user.year == '' or current_user.studID == None or current_user.studID == '' %}
                <div class="alert alert-danger" role="alert">
                    Notice: You can't proceed to in Add Subject Transaction if your Personal Information is not complete.
                </div>{% endif %}

                <div>

                    <!-- Transaction Status -->
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="school_year">School Year</label>
                            <input type="number" class="form-control" id="school_year" value="{{trans.school_year}}" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="semester">Semester</label>
                            <input type="number" class="form-control" id="semester" value="{{trans.semester}}" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="semester">Status</label>
                            <input type="text" class="form-control" id="semester" value="{{trans.status}}" readonly>
                        </div>
                    </div>

                    <div class="alert alert-danger" role="alert" id="TransferTransaction">
                        Notice: Transferring Transaction is Closed.
                    </div>


                    <h1>Transfer Subject Transaction Form</h1>

                    {% if current_user.department != None and current_user.course != None and current_user.section != None and current_user.year != None and current_user.studID != None and current_user.studID != '' %}
                    <div id="multi-step-form-container">
                        <!-- Form Steps / Progress Bar -->
                        <ul class="form-stepper form-stepper-horizontal text-center mx-auto pl-0">
                            <!-- Step 1 -->
                            <li class="form-stepper-active text-center form-stepper-list" step="1">
                                <a class="mx-2">
                                    <span class="form-stepper-circle">
                                        <span>1</span>
                                    </span>
                                    <div class="label">Subject to be transfer</div>
                                </a>
                            </li>
                            <!-- Step 2 -->
                            <li class="form-stepper-unfinished text-center form-stepper-list" step="2">
                                <a class="mx-2">
                                    <span class="form-stepper-circle text-muted">
                                        <span>2</span>
                                    </span>
                                    <div class="label text-muted">Wait for Department Head and Assist. Director of Academic Affairs Approval</div>
                                </a>
                            </li>
                        </ul>




                        <!-- Step 1 Content -->
                        <section id="step-1" class="form-step">
                            <h2 class="font-normal">Subject to be transfer</h2>
                            <!-- Step 1 input fields -->



                            <div class="mt-3" style="overflow-x: scroll;">

                                <table class="table table-bordered" id="disable">
                                    <thead>
                                        <th>NO.</th>
                                        <th>SUBJECT</th>
                                        <th>SECTION</th>
                                        <th>SCHEDULE</th>
                                        <th>REASON</th>
                                        <th>ACTION</th>
                                    </thead>
                                    <tbody>
                                        {% for i in transReq %}
                                        <tr>
                                            <td>{{i.id}}</td>
                                            <td>{{i.subject.subject}}-{{i.subject.description}}</td>
                                            <td>{{i.section}}</td>
                                            <td>{{i.reason}}</td>
                                            <td>{{i.sched}}</td>
                                            <td class="d-flex" style="gap:10px;">
                                                <a type="button" class="btn btn-danger" href="/s_del_sub_t/{{i.id}}">Delete</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        <form method="post" action="/s_trans_sub">
                                            {% csrf_token %}
                                            <tr>
                                                <td colspan="2">
                                                    <select class="custom-select" name="subject" required>
                                                        <option selected disabled hidden>Choose...</option>
                                                        {% for i in subs %}
                                                        <option value="{{i.subject}}">{{i.subject}}-{{i.description}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td hidden><input type="text" class="form-control" name="school_year" value="{{trans.school_year}}" required></td>
                                                <td hidden><input type="text" class="form-control" name="semester" value="{{trans.semester}}" required></td>
                                                <td><input type="text" class="form-control" name="section" placeholder="Ex. BET-COET-4B" required></td>
                                                <td class="d-flex" style="column-gap: 5px;"><input type="text" class="form-control" name="schedule" id="schedule" readonly required> <a id="button_s" class="btn btn-primary" data-toggle="modal" data-target="#editSub">Edit</a> </td>
                                                <td><textarea class="form-control" id="reason" name="reason" required></textarea></td>
                                                <td><button type="submit" class="btn btn-primary" id="button_s">+ Add</button></td>
                                            </tr>
                                        </form>
                                    </tbody>
                                </table>


                                <br> {% if current_user.transferStatus == '' %}
                                <form method="post" action="/s_step1_submit_t">
                                    {% csrf_token %} {% for i in transReq %}
                                    <input type="text" name="not_empty" value="{{i.studID}}" hidden> {% endfor %}
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" id="button_s">Submit</button>
                                </form> {% endif %}

                            </div>

                            <div class="mt-3">
                                {% if current_user.transferStatus != '' %}
                                <button class="button btn-navigate-form-step" type="button" step_number="2">Next</button>{% endif %}
                            </div>
                        </section>



                        <!-- Step 2 Content, default hidden on page load. -->
                        <section id="step-2" class="form-step d-none">
                            <h2 class="font-normal">Wait for Department Head and Assist. Director of Academic Affairs Approval</h2>
                            <!-- Step 2 input fields -->
                            <div class="mt-3" style='overflow-x: scroll;' id="tab">
                                <table class="table table-bordered">
                                    <thead>
                                        <th colspan="3" style="text-align: center;">SUBJECT TO BE TAKEN BY STUDENT</th>
                                        <th colspan="4" style="text-align: center;">DEPARTMENT HEAD APPROVAL</th>
                                        <th colspan="3" style="text-align: center;">ASSIST. DIRECTOR OF ACADEMIC AFFAIRS APPROVAL</th>
                                    </thead>
                                    <thead>
                                        <th>SUBJECT</th>
                                        <th>SECTION</th>
                                        <th>SCHEDULE</th>
                                        <th>APPROVAL</th>
                                        <th>REMARK</th>
                                        <th>ENLISTED BY</th>
                                        <th>DATE & TIME</th>
                                        <th>APPROVAL</th>
                                        <th>ENLISTED BY</th>
                                        <th>DATE & TIME</th>
                                    </thead>

                                    <tbody>
                                        {% for i in transReq %}
                                        <tr>
                                            <td>{{i.subject.subject}}-{{i.subject.description}}</td>
                                            <td>{{i.section}}</td>
                                            <td>{{i.sched}}</td>
                                            <td>{{i.head_is_approve}}</td>
                                            <td>{{i.head_remark}}</td>
                                            <td>{{i.head_name}}</td>
                                            <td>{{i.head_date}}</td>
                                            <td>{{i.admin_is_approve}}</td>
                                            <td>{{i.admin_name}}</td>
                                            <td>{{i.admin_date}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="mt-3">
                                <button class="button btn-navigate-form-step" type="button" step_number="1">Prev</button>
                            </div>
                        </section>

                    </div>
                    {% endif %}
                </div>




            </div>
        </div>
    </div>



    <!-- Edit Schedule Modal -->
    <div class="modal fade" id="editSub" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Schedule</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Monday</span>
                        </div>
                        <input type="time" class="form-control" aria-describedby="basic-addon1" id="mon_start">
                        <input type="time" class="form-control" aria-describedby="basic-addon1" id="mon_end">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Tuesday</span>
                        </div>
                        <input type="time" class="form-control" aria-describedby="basic-addon1" id="tue_start">
                        <input type="time" class="form-control" aria-describedby="basic-addon1" id="tue_end">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Wednesday</span>
                        </div>
                        <input type="time" class="form-control" aria-describedby="basic-addon1" id="wed_start">
                        <input type="time" class="form-control" aria-describedby="basic-addon1" id="wed_end">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Thurdsay</span>
                        </div>
                        <input type="time" class="form-control" aria-describedby="basic-addon1" id="thu_start">
                        <input type="time" class="form-control" aria-describedby="basic-addon1" id="thu_end">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Friday</span>
                        </div>
                        <input type="time" class="form-control" aria-describedby="basic-addon1" id="fri_start">
                        <input type="time" class="form-control" aria-describedby="basic-addon1" id="fri_end">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Saturday</span>
                        </div>
                        <input type="time" class="form-control" aria-describedby="basic-addon1" id="sat_start">
                        <input type="time" class="form-control" aria-describedby="basic-addon1" id="sat_end">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="myFunction()" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>





    <footer id="footerfooter">
        <!-- up and down button -->
        <button id="sched-up" title="Show Schedule"><img src="../../static/images/double-up-arrow.png" alt=""></button>
        <button id="sched-down" title="Hide Schedule"><img src="../../static/images/double-down-arrows.png" alt=""></button>

        <div style="overflow-x:auto;" id="datadata">
            {% for e in sched %}
            <iframe src="{{e.gSheetLink}}" style="width: 100%; height: 100%; border: 1px solid #E2435E"></iframe>{% endfor %}
        </div>

    </footer>


    <!-- bootstrap na js: yung seperate -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script>
        console.log("chichi")

        document.getElementById("sched-up").addEventListener("click", function() {
            document.getElementById("sched-down").style.display = 'flex';
            document.getElementById("sched-up").style.display = "none";
            document.getElementById("footerfooter").style.height = "500px";
            document.getElementById('datadata').style.display = "grid";

        })

        document.getElementById("sched-down").addEventListener("click", function() {
            document.getElementById("sched-up").style.display = 'flex';
            document.getElementById("sched-down").style.display = "none";
            document.getElementById("footerfooter").style.height = "40px";
            document.getElementById('datadata').style.display = "none";
        })
    </script>

    <!--DROPDOWN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

    <!-- Print PDF -->
    <script>
        function createPDF() {
            var sTable = document.getElementById('tab').innerHTML;

            var style = "<style>";
            style = style + "table {width: 100%;font: 12px Calibri;}";
            style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
            style = style + "td {width: fit-content;";
            style = style + "padding: 2px 3px;text-align: center;}";
            style = style + "</style>";

            // CREATE A WINDOW OBJECT.
            var win = window.open('', '', 'height=700,width=700');

            win.document.write('<html><head>');
            win.document.write('<title>Transfer Subject Requests:</title>'); // <title> FOR PDF HEADER.
            win.document.write(style); // ADD STYLE INSIDE THE HEAD TAG.
            win.document.write('</head>');
            win.document.write('<body>');
            win.document.write(sTable); // THE TABLE CONTENTS INSIDE THE BODY TAG.
            win.document.write('</body></html>');

            win.document.close(); // CLOSE THE CURRENT WINDOW.

            win.print(); // PRINT THE CONTENTS.
        }
    </script>


    <!-- Transcation Status -->
    {% if trans.status == 'Open' %}
    <script>
        $("#multi-step-form-container").show();
        $("#TransferTransaction").hide();
    </script>

    {% elif trans.status == 'Close' %}
    <script>
        $("#multi-step-form-container").hide();
        $("#TransferTransaction").show();
    </script> {% endif %}



    <!-- ADD SCHEDULE NI REJAY -->
    <script>
        function myFunction() {

            var a = document.getElementById("mon_start").value;
            var b = document.getElementById("mon_end").value;
            var c = document.getElementById("tue_start").value;
            var d = document.getElementById("tue_end").value;
            var e = document.getElementById("wed_start").value;
            var f = document.getElementById("wed_end").value;
            var g = document.getElementById("thu_start").value;
            var h = document.getElementById("thu_end").value;
            var i = document.getElementById("fri_start").value;
            var j = document.getElementById("fri_end").value;
            var k = document.getElementById("sat_start").value;
            var l = document.getElementById("sat_end").value;

            const a12hr = new Date('1970-01-01T' + a + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const b12hr = new Date('1970-01-01T' + b + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const c12hr = new Date('1970-01-01T' + c + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const d12hr = new Date('1970-01-01T' + d + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const e12hr = new Date('1970-01-01T' + e + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const f12hr = new Date('1970-01-01T' + f + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const g12hr = new Date('1970-01-01T' + g + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const h12hr = new Date('1970-01-01T' + h + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const i12hr = new Date('1970-01-01T' + i + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const j12hr = new Date('1970-01-01T' + j + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const k12hr = new Date('1970-01-01T' + k + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });

            const l12hr = new Date('1970-01-01T' + l + 'Z').toLocaleTimeString('en-US', {
                timeZone: 'UTC',
                hour12: true,
                hour: 'numeric',
                minute: 'numeric'
            });


            var arr = [];

            // If the checkbox is checked, display the output text
            if (a && b != '') {
                arr.push('M' + ' ' + a12hr + '-' + b12hr);
            }
            if (c && d != '') {
                arr.push('T' + ' ' + c12hr + '-' + d12hr);
            }
            if (e && f != '') {
                arr.push('W' + ' ' + e12hr + '-' + f12hr);
            }
            if (g && h != '') {
                arr.push('TH' + ' ' + g12hr + '-' + h12hr);
            }
            if (i && j != '') {
                arr.push('F' + ' ' + i12hr + '-' + j12hr);
            }
            if (k && l != '') {
                arr.push('S' + ' ' + k12hr + '-' + l12hr);
            }

            document.getElementById("schedule").value = arr;
            // schedule.value = arr;

        }
    </script>



    <script>
        $(document).ready(function() {
            // Source: https://stackoverflow.com/questions/18796221/creating-a-select-box-with-a-search-option
            //change selectboxes to selectize mode to be searchable
            $("#subject").select2();
            $("#course").select2();
            $("#yrandsec").select2();


            $("#subject1").select2();
            $("#course1").select2();
            $("#yrandsec1").select2();


            $("#subject2").select2();
            $("#course2").select2();
            $("#yrandsec2").select2();

        });
    </script>


    <!-- Django with Jquery para magload kapag nasaang current step na si students -->

    {% if current_user.transferStatus == '' %}
    <script>
        // Content Update
        document.querySelector("#step-" + 1).classList.remove("d-none");
        const formStepCircle = document.querySelector('li[step="' + 1 + '"]');
        formStepCircle.classList.remove("form-stepper-unfinished", "form-stepper-completed");
        formStepCircle.classList.add("form-stepper-active");

        // Header Update
        formStepHeader.classList.remove("form-stepper-unfinished");
        formStepHeader.classList.add("form-stepper-active", "form-stepper-completed");
    </script>

    {% elif current_user.transferStatus != '' %}
    <script>
        document.getElementById('disable').style.pointerEvents = 'none';
        // Content Update
        document.querySelector("#step-" + 1).classList.add("d-none");
        document.querySelector("#step-" + 2).classList.remove("d-none");
        const formStepCircle1 = document.querySelector('li[step="' + 2 + '"]');
        formStepCircle1.classList.remove("form-stepper-unfinished", "form-stepper-completed");
        formStepCircle1.classList.add("form-stepper-active");

        // Header Update
        formStepHeader1.classList.remove("form-stepper-unfinished");
        formStepHeader1.classList.add("form-stepper-active", "form-stepper-completed");
    </script>
    {% endif %}



    <!-- MULTIFORM -->
    <script>
        /**
         * Define a function to navigate betweens form steps.
         * It accepts one parameter. That is - step number.
         */
        const navigateToFormStep = (stepNumber) => {
            /**
             * Hide all form steps.
             */
            document.querySelectorAll(".form-step").forEach((formStepElement) => {
                formStepElement.classList.add("d-none");
            });
            /**
             * Mark all form steps as unfinished.
             */
            document.querySelectorAll(".form-stepper-list").forEach((formStepHeader) => {
                formStepHeader.classList.add("form-stepper-unfinished");
                formStepHeader.classList.remove("form-stepper-active", "form-stepper-completed");
            });
            /**
             * Show the current form step (as passed to the function).
             */
            document.querySelector("#step-" + stepNumber).classList.remove("d-none");
            /**
             * Select the form step circle (progress bar).
             */
            const formStepCircle = document.querySelector('li[step="' + stepNumber + '"]');
            /**
             * Mark the current form step as active.
             */
            formStepCircle.classList.remove("form-stepper-unfinished", "form-stepper-completed");
            formStepCircle.classList.add("form-stepper-active");
            /**
             * Loop through each form step circles.
             * This loop will continue up to the current step number.
             * Example: If the current step is 3,
             * then the loop will perform operations for step 1 and 2.
             */
            for (let index = 0; index < stepNumber; index++) {
                /**
                 * Select the form step circle (progress bar).
                 */
                const formStepCircle = document.querySelector('li[step="' + index + '"]');
                /**
                 * Check if the element exist. If yes, then proceed.
                 */
                if (formStepCircle) {
                    /**
                     * Mark the form step as completed.
                     */
                    formStepCircle.classList.remove("form-stepper-unfinished", "form-stepper-active");
                    formStepCircle.classList.add("form-stepper-completed");
                }
            }
        };
        /**
         * Select all form navigation buttons, and loop through them.
         */
        document.querySelectorAll(".btn-navigate-form-step").forEach((formNavigationBtn) => {
            /**
             * Add a click event listener to the button.
             */
            formNavigationBtn.addEventListener("click", () => {
                /**
                 * Get the value of the step.
                 */
                const stepNumber = parseInt(formNavigationBtn.getAttribute("step_number"));
                /**
                 * Call the function to navigate to the target form step.
                 */
                navigateToFormStep(stepNumber);
            });
        });
    </script>



    <!-- Messages -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %} {% for message in messages %} {% if message.tags %}
    <script>
        Swal.fire({
            text: '{{ message }}',
        })
    </script> {% endif %} {% endfor %} {% endif %}



</body>

</html>