{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TUP-ASSIST </title>


    <!-- DROPDOWN BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

    <!-- css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/students.css'%}">


    <!-- icon sa bar tab and fonts -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../../static/images/tuplogo.png" type="image/x-icon">
</head>

<body>
    <nav class="navbar navbar-expand-lg" id="navbarnavbar">
        <div class="navbarLagayan">
            <img src="../../static/images/tuplogo.png" alt="TUPLogo.png" width="30" height="30">
            <a class="nav-link" href="{%url 'TupAssistApp:students'%}">Technological University of the Philippines - <span style="color: #E2435E; font-weight: 500;"> Assist</span></a>
            <div class="lagayanNgButton">
                <a class="nav-link" href="{%url 'TupAssistApp:logout'%}" id="logoutbutton">Logout</a>
            </div>
        </div>
    </nav>



    <section>
        <div class="bodybody">

            <div class="boxes">

                <div class="studentDetails">
                    <div class="innerStudentDetails">
                        <div class="lagayan1">
                            <p id="p1">Name:</p>
                            <p style="text-align: end;">{{ current_user.first_name }} {{ current_user.last_name }}</p>
                        </div>
                        <div class="lagayan2">
                            <p id="p1">Student Number:</p>
                            <p style="text-align: end;">{{ current_user.studID }}</p>
                        </div>
                        <div class="lagayan3">
                            <p id="p1">Year Course and Section:</p>
                            <p style="text-align: end;">{{ current_user.course }}-{{ current_user.yrandsec }}</p>
                        </div>
                    </div>
                </div>
                <div class="progressbox">
                    <div class="lagayanNgStatus"></div>
                    <div class="isapanglagayan"></div>
                </div>

            </div>


            <div class="dividerLangs"></div>

            <div style="overflow-x:auto;" class="innerBody">
                <div class="add-label">
                    <p>ADD SUBJECT</p>
                </div>

                <!-- ADDING REQUESTS TABLE-->

                <!--HTML code to display data in tabular format-->
                <table id="table_id" class="table table-striped">
                    <thead>
                        <th>NO.</th>
                        <th hidden>STUDENT ID</th>
                        <th>SUBJECT</th>
                        <th>COURSE</th>
                        <th>YEAR & SECTION</th>
                        <th>SCHEDULE</th>
                        <th>ACTION</th>
                    </thead>

                    <tbody>

                        {% for i in addReq %}
                        <tr>
                            <td>{{i.id}}</td>
                            <td hidden>{{i.studID}}</td>
                            <td>{{i.subject}} </td>
                            <td>{{i.course}}</td>
                            <td>{{i.yrandsec}}</td>
                            <td>{{i.sched}}</td>
                            <td class="action">
                                <a href="/s_adding_del/{{i.id}}"><i class="bi bi-trash"></i></a>
                                <i type="button" data-toggle="modal" data-target="#exampleModal{{i.id}}" class="bi bi-pencil"></i>
                            </td>
                        </tr>
                        {% endfor %}

                        <tr>
                            <form class="form" action="/s_adding" method="post">
                                {% csrf_token %}
                                <td></td>
                                <td hidden><input type="text" name="studID" id="studID" value="{{current_user.studID}}" hidden></td>

                                <td>
                                    <select name="subject" id="subject">
                                        {% for i in sub %}
                                        <option value="{{i.SubCode}} {{i.SubName}}">{{i.SubCode}} {{i.SubName}}</option>
                                        {% endfor %}
                                    </select>
                                </td>

                                <td>
                                    <select name="course" id="course">
                                        <option value="BET-ET">Electrical Technology</option>
                                        <option value="BET-ESET">Electronics Technology</option>
                                        <option value="BET-COET">Computer Engineering  Technology</option>
                                        <option value="BET-CT">Civil Technology</option>
                                        <option value="BET-MT">Mechanical Technology</option>
                                        <option value="BET-AT">Automotive Technology</option>
                                        <option value="BET-PPT">Power Plant Technology</option>

                                        <option value="BSCE">Civil Engineering'</option>
                                        <option value="BSEE">Electrical Engineeri</option>
                                        <option value="BSECE">Electronics Engineering</option>
                                        <option value="BSME">Mechanical Engineering</option>

                                        <option value="BSIE-ICT">Information and Communication Technology</option>
                                    </select>
                                </td>

                                <td>
                                    <select name="yrandsec" id="yrandsec">
                                        <option value="1A">1A</option>
                                        <option value="1A">2A</option>
                                        <option value="1A">3A</option>
                                        <option value="1A">4A</option>
                                        <option value="1A">1B</option>
                                        <option value="1A">2B</option>
                                        <option value="1A">3B</option>
                                        <option value="1A">4B</option>
                                    </select>
                                </td>

                                <td><input type="text" name="sched" id="sched" required></td>

                                <td class="action"><button type="submit" style="border: 0px; background-color: transparent;"> <i class="bi bi-plus-circle" style="color:#E2435E; font-size: large;"></i> </button></td>
                            </form>
                        </tr>


                    </tbody>
                </table>




                <!-- UPLOAD ERS IMAGE -->
                <div class="grades-label">
                    <p style="width: 100%;">UPLOAD GRADES FROM ERS:</p>
                    {% if current_user.upload == '' %}
                    <form class="form-inline" method="post" enctype="multipart/form-data" action="/upload">
                        {% csrf_token %}
                        <div class="form-group mb-2">
                            <input type="file" name="gradesfile" id="gradesfile" required>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Import PDF File</button>
                    </form>

                    {% endif %} {% if current_user.upload != '' %}
                    <div id="grade-view">
                        <a href="#" class="alert-link" onclick="window.open('{{ current_user.upload.url }}');">{{ current_user.upload }}</a> <a href="{%url 'TupAssistApp:delupload'%}"><i class="bi bi-x-circle" style="margin-left: 5%; color: #E2435E"></i></a>
                    </div>
                    {% endif %}

                </div>

                <!-- Submit button -->


                <form method="post" action="">
                    {% csrf_token %}
                    <div class="submit-button">
                        <button type="submit" class="btn btn-primary mb-2">SUBMIT REQUEST</button>
                    </div>
                </form>








                <div class="drop-label">
                    <p>DROP SUBJECT</p>
                </div>

                <!-- DROPPING REQUESTS TABLE-->

                <!--HTML code to display data in tabular format-->
                <table id="table_id" class="table table-striped">
                    <thead>
                        <th>NO.</th>
                        <th hidden>STUDENT ID</th>
                        <th>SUBJECT</th>
                        <th>COURSE</th>
                        <th>YEAR & SECTION</th>
                        <th>SCHEDULE</th>
                        <th>Action</th>
                    </thead>

                    <tbody>
                        {% for i in dropReq %}
                        <tr>
                            <td>{{i.id}}</td>
                            <td hidden>{{i.studID}}</td>
                            <td>{{i.subject}}</td>
                            <td>{{i.course}}</td>
                            <td>{{i.yrandsec}}</td>
                            <td>{{i.sched}}</td>
                            <td class="action"><a href="/s_dropping_del/{{i.id}}"><i class="bi bi-trash"></a></td>

                        </tr>
                        {% endfor %}

                        <tr>
                            <form class="form" action="/s_dropping" method="post">
                                {% csrf_token %}
                                <td></td>
                                <td hidden><input type="text" name="studID" id="studID" value="{{current_user.studID}}" hidden></td>

                                <td>
                                    <select name="subject" id="subject1">
                                        {% for i in sub %}
                                        <option value="{{i.SubCode}} {{i.SubName}}">{{i.SubCode}} {{i.SubName}}</option>
                                        {% endfor %}
                                    </select>
                                </td>

                                <td>
                                    <select name="course" id="course1">
                                        <option value="BET-ET">Electrical Technology</option>
                                        <option value="BET-ESET">Electronics Technology</option>
                                        <option value="BET-COET">Computer Engineering  Technology</option>
                                        <option value="BET-CT">Civil Technology</option>
                                        <option value="BET-MT">Mechanical Technology</option>
                                        <option value="BET-AT">Automotive Technology</option>
                                        <option value="BET-PPT">Power Plant Technology</option>

                                        <option value="BSCE">Civil Engineering'</option>
                                        <option value="BSEE">Electrical Engineeri</option>
                                        <option value="BSECE">Electronics Engineering</option>
                                        <option value="BSME">Mechanical Engineering</option>

                                        <option value="BSIE-ICT">Information and Communication Technology</option>
                                    </select>
                                </td>


                                <td>
                                    <select name="yrandsec" id="yrandsec1">
                                        <option value="1A">1A</option>
                                        <option value="1A">2A</option>
                                        <option value="1A">3A</option>
                                        <option value="1A">4A</option>
                                        <option value="1A">1B</option>
                                        <option value="1A">2B</option>
                                        <option value="1A">3B</option>
                                        <option value="1A">4B</option>
                                    </select>
                                </td>


                                <td><input type="text" name="sched" id="sched" required></td>
                                <td class="action"><button type="submit" style="border: 0px; background-color: transparent;"> <i class="bi bi-plus-circle" style="color:#E2435E; font-size: large;"></i> </button></td>
                            </form>
                        </tr>
                    </tbody>
                </table>


                <form method="post" action="">
                    {% csrf_token %}
                    <div class="submit-button">
                        <button type="submit" class="btn btn-primary mb-2">SUBMIT REQUEST</button>
                    </div>
                </form>





                <div class="drop-label">
                    <p>TRANSFER SUBJECT</p>
                </div>

                <!-- TRANSFERRING REQUESTS TABLE-->

                <!--HTML code to display data in tabular format-->
                <table id="table_id" class="table table-striped">
                    <thead>
                        <th>NO.</th>
                        <th hidden>STUDENT ID</th>
                        <th>SUBJECT</th>
                        <th>COURSE</th>
                        <th>YEAR & SECTION</th>
                        <th>SCHEDULE</th>
                        <th>Action</th>
                    </thead>

                    <tbody>
                        {% for i in transReq %}
                        <tr>
                            <td>{{i.id}}</td>
                            <td hidden>{{i.studID}}</td>
                            <td>{{i.subject}}</td>
                            <td>{{i.course}}</td>
                            <td>{{i.yrandsec}}</td>
                            <td>{{i.sched}}</td>
                            <td class="action"><a href="/s_transferring_del/{{i.id}}"><i class="bi bi-trash"></a></td>
                        </tr>
                        {% endfor %}

                        <tr>
                            <form class="form" action="/s_transferring" method="post">
                                {% csrf_token %}
                                <td></td>
                                <td hidden><input type="text" name="studID" id="studID" value="{{ current_user.studID }}" hidden></td>

                                <td>
                                    <select name="subject" id="subject2">
                                        {% for i in sub %}
                                        <option value="{{i.SubCode}} {{i.SubName}}">{{i.SubCode}} {{i.SubName}}</option>
                                        {% endfor %}
                                    </select>
                                </td>

                                <td>
                                    <select name="course" id="course2">
                                        <option value="BET-ET">Electrical Technology</option>
                                        <option value="BET-ESET">Electronics Technology</option>
                                        <option value="BET-COET">Computer Engineering  Technology</option>
                                        <option value="BET-CT">Civil Technology</option>
                                        <option value="BET-MT">Mechanical Technology</option>
                                        <option value="BET-AT">Automotive Technology</option>
                                        <option value="BET-PPT">Power Plant Technology</option>

                                        <option value="BSCE">Civil Engineering'</option>
                                        <option value="BSEE">Electrical Engineeri</option>
                                        <option value="BSECE">Electronics Engineering</option>
                                        <option value="BSME">Mechanical Engineering</option>

                                        <option value="BSIE-ICT">Information and Communication Technology</option>
                                    </select>
                                </td>

                                <td>
                                    <select name="yrandsec" id="yrandsec2">
                                        <option value="1A">1A</option>
                                        <option value="1A">2A</option>
                                        <option value="1A">3A</option>
                                        <option value="1A">4A</option>
                                        <option value="1A">1B</option>
                                        <option value="1A">2B</option>
                                        <option value="1A">3B</option>
                                        <option value="1A">4B</option>
                                    </select>
                                </td>


                                <td><input type="text" name="sched" id="sched" required></td>
                                <td class="action"><button type="submit" style="border: 0px; background-color: transparent;"> <i class="bi bi-plus-circle" style="color:#E2435E; font-size: large;"></i> </button></td>
                            </form>
                        </tr>
                    </tbody>
                </table>

                <form method="post" action="">
                    {% csrf_token %}
                    <div class="submit-button">
                        <button type="submit" class="btn btn-primary mb-2">SUBMIT REQUEST</button>
                    </div>
                </form>


            </div>
        </div>
    </section>




    <footer id="footerfooter">
        <!-- up and down button -->
        <button id="sched-up" title="Show Schedule"><img src="../../static/images/double-up-arrow.png" alt=""></button>
        <button id="sched-down" title="Hide Schedule"><img src="../../static/images/double-down-arrows.png" alt=""></button>

        <div style="overflow-x:auto;" id="datadata">
            <iframe src="{{sched.gSheetLink}}" style="width: 100%; height: 100%; border: 1px solid #E2435E"></iframe>
        </div>

    </footer>



    <!-- Modals -->

    {% for i in addReq %}

    <!-- Modal For Adding Requests-->
    <!-- source: https://stackoverflow.com/questions/50196148/pass-value-to-bootstrap-modal-form-with-django-->
    <div class="modal fade" id="exampleModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Subject: Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <form class="needs-validation" action="/s_adding_edit/{{i.id}}" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="id">Subject Code</label>
                                <input type="text" class="form-control" name="id" id="id" value="{{i.id}}" readonly>
                            </div>


                            <div class="col-md-4 mb-3">
                                <label for="subname">Subject</label>
                                <select name="subject" id="subject">
                                                    <option value="{{e.subject}}">{{i.subject}}</option>
                                                    {% for i in sub %}
                                                    <option value="{{i.SubCode}} {{i.SubName}}">{{i.SubCode}} {{i.SubName}}</option>
                                                    {% endfor %}
                                                </select>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="course">Course</label>
                                <input type="text" class="form-control" name="course" id="course" value="{{i.course}}" required>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="yrandsec">Year and Section</label>
                                <input type="text" class="form-control" name="yrandsec" id="yrandsec" value="{{i.yrandsec}}" required>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="sched">Schedule</label>
                                <input type="text" class="form-control" name="sched" id="sched" value="{{i.sched}}" required>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" value="Save Changes">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}




    <!-- bootstrap na js: yung seperate -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script>
        console.log("chichi")

        document.getElementById("sched-up").addEventListener("click", function() {
            document.getElementById("sched-down").style.display = 'flex';
            document.getElementById("sched-up").style.display = "none";
            document.getElementById("footerfooter").style.height = "500px";
            document.getElementById('datadata').style.display = "grid";

        })

        document.getElementById("sched-down").addEventListener("click", function() {
            document.getElementById("sched-up").style.display = 'flex';
            document.getElementById("sched-down").style.display = "none";
            document.getElementById("footerfooter").style.height = "40px";
            document.getElementById('datadata').style.display = "none";
        })
    </script>

    <!--DROPDOWN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function() {
            // Source: https://stackoverflow.com/questions/18796221/creating-a-select-box-with-a-search-option
            //change selectboxes to selectize mode to be searchable
            $("#subject").select2();
            $("#course").select2();
            $("#yrandsec").select2();


            $("#subject1").select2();
            $("#course1").select2();
            $("#yrandsec1").select2();


            $("#subject2").select2();
            $("#course2").select2();
            $("#yrandsec2").select2();

        });
    </script>



</body>

</html>